[2014-07-03 09:10] GilesGibson opened #1 "improve selection of viz type"
Logged on as admin.

Created a new visualisation. tried  clicking on map for the display type. It didn't acknowledge that it had been selected. I continued - it seemed to have selected map. Need proper display of the type of vis that had been selected.

[2014-07-03 09:11] GilesGibson opened #2 "Vis builder - choose lat/long"
admin.

Created new vis. Recylcing locations was the dataset. I was asked to "choose lat". I have no idea what this means - can we get a better prompt than this. A bit confusing for the first time user.

[2014-07-03 09:13] GilesGibson opened #3 "vis builder - create new vis."
Map of recycling points in lambeth. Chose map, chose lat and long. Left the last one blank on the wizard as it didn't make sense on the type of map I was after. I clicked on create, got the spinning wheel and it is still spinning 10 mins later.

[2014-07-03 09:17] GilesGibson opened #4 "vis builder - map not displaying"
logged on as admin.

Created the map of recycle points. The wheel spun and spun. I then edited metadata (need better text here). I published. No map being displayed.

I cannot figure out how to change just the criteria for the map without going through the entire thing again. Bit stuck. No map, no method to edit an individual item.

[2014-07-03 09:21] GilesGibson opened #5 "vis builder - hide visualization data box"
map of recycling points. I am on edit. There is a large text box called "visualisation data". I have no idea what I am supposed to put in there - help text, examples would be good.

[2014-07-03 09:22] GilesGibson opened #6 "Change button layout and add Bootstrap classes to buttons in vis node edit form"
logged on as admin.

Edit a vis. Right hand column buttons - "save, unpublish..." layout a bit wonky. Should these be in a vertical line for consistency?

[2014-07-03 09:24] GilesGibson opened #7 "Visualization edit and edit viz links are confusing"
logged on as admin.

Editing a vis. Top menu bar has "view, edit, edit visualisation...". What does edit do that edit visualisation" doesn't do? confusing having two edits on the same menu.

[2014-07-03 09:28] GilesGibson opened #8 "viz wizard breadcrumb sections should be clickable"
logged on as admin.

I try and click on the different wizard section to go back and change something i.e. "select visualisation type" - nothing happens. I assumed that the four wizard strips would be live buttons to allow you to easily change just one aspect of a visualisation.

[2014-07-03 09:31] GilesGibson opened #9 "Add Bootstrap classes to wrap list items in vis browser"
logged on as admin.

when the main view of all the visualizations is chosen. Right hand column showing rating stars is too narrow - stars are not in a horizontal line.

[2014-07-03 09:32] GilesGibson opened #10 "vis display screen"
logged on as admin.

Main vis display screen. Each vis has the main text box. However the tags are not distinct from the text - overlapping or on the same line. Need some differentiation.

[2014-07-03 09:44] GilesGibson opened #11 "Viz type should not need filling in in metadata form"
logged on as admin.

Created vis, editing metadata. Not sure why the metadata is asking me to fil in the OV type? I assume that this is the visualisation that I have chosen i.e. bar graph, map etc. If so why would it know automatically, why does the user have to fill it in?

[2014-07-03 09:46] GilesGibson opened #12 "tag duplication"
logged on as admin.

I have created a couple of vis. I put in the tag of recylcing on each of them. Now on the main vis page under tags recycling shows up twice. This will only get worse!

[2014-07-03 11:14] GilesGibson opened #13 "Improve dataset filtering"
Logged in as admin.

Wanted to start a new vis. It gave me a list of all the datasets but no way of filtering them. I had thought that we would be having all the usual filters down the left hand side along with the usual selection by name, author etc above - otherwise it will be impossible to get the one you want.

[2014-07-03 11:17] GilesGibson opened #14 "vis builder - how to get data on the circles on a map"
logged on as admin.

I created the map of printer cartridge recycle locations. when I look at the map in close up and click on a circle it just has the hover box showing "no". is there a way of getting it to show the name and address of whatever the location of the point is? How would I choose this when creating the map? If it is possible then I missed the relevance so the text/help/method needs t

[2014-07-03 11:44] GilesGibson opened #15 "Vis main page"
logged on as admin.

main page shows all the visualisations - listed with their text etc alongside. Then below all of those they are repeated again only this time in a slightly different display. What is happening here?

[2014-07-04 08:34] pmackay commented on #15
Which site, dev or live?

[2014-07-04 08:37] GilesGibson commented on #15
all on live site. That is the only one I am testing - correct?

[2014-07-04 08:44] pmackay commented on #13
I figure when we have enough data for this to be a problem, we can add it?

[2014-07-04 08:45] pmackay commented on #12
@hardieas this needs the deluxe tag widget adding - where has that got to?

[2014-07-04 08:46] pmackay commented on #11
We need to look at having this set automatically.

[2014-07-04 08:47] pmackay commented on #10
Can you clarify which page? Screenshot?

[2014-07-04 08:47] pmackay commented on #9
Theming issue.

[2014-07-04 08:48] pmackay commented on #8
Nope, we have back and forward buttons. Will that do for now?

[2014-07-04 08:49] pmackay commented on #7
This is a problem of having the viz edit wizard separate from the Drupal node edit form. How would you like it to work?

[2014-07-04 08:49] pmackay commented on #6
Theming needed.

[2014-07-04 08:49] GilesGibson commented on #10
main vis page:

![image](https://cloud.githubusercontent.com/assets/6060985/3479806/27b5b8b0-0358-11e4-9982-8a3bcbc86e65.png)

[2014-07-04 08:50] pmackay commented on #5
This is debug and needs hiding.

[2014-07-04 08:51] GilesGibson commented on #13
OK, but it would be good to get in soon.

[2014-07-04 08:51] pmackay commented on #2
These column names are pulled directly from the data. Not sure how can be improved. Maybe @dataunity has some ideas?

[2014-07-04 08:53] pmackay commented on #1
Do you see a thin red border?

[2014-07-04 08:54] GilesGibson commented on #1
I think a really thin red line may have been there - couldn't tell. If that was the way a selection is to be indicated then we need to think again. Not easy to see, not great UX.

[2014-07-04 08:55] GilesGibson commented on #5
if it is easy to hide all the debug stuff on live site then it would help.

[2014-07-04 08:58] GilesGibson commented on #7
I dont know what the difference is between them both so cannot answer the question. What are they each supposed to do? Not sure what the difference between node edit and viz edit wizard is.

[2014-07-04 09:01] GilesGibson commented on #8
if I go back, the wizard should show the saep I am at. I should also be able to adjust just one parameter of the vis without going through the whole thing again. I got a bit stuck trying to figure out how that would work. happy to go with back/forward buttons for now, need the wizard buttons to work as well eventually. That way we get a breadcrumb trail style that we can click on any step and it j

[2014-07-04 09:02] GilesGibson commented on #11
good. Saves the user having to type the same stuff twice. These computer thingies are meant to save our time....

[2014-07-04 09:05] pmackay commented on #15
viz page updated on live. Yes please test on live.

[2014-07-04 09:05] #15 closed, assigned to nobody

[2014-07-04 09:06] pmackay commented on #14
The content of the popup is defined by the columns choice in the wizard. Is there a different col that would make more sense?

[2014-07-04 09:08] pmackay commented on #10
Theming needed.

[2014-07-04 09:09] pmackay commented on #8
I wonder if we need to rethink the whole creation/editing approach.

[2014-07-04 09:10] pmackay commented on #7
Node edit changes the metadata.

Viz edit goes to the wizard and edits the actual visualization.

[2014-07-04 09:10] dataunity commented on #2
I think the text "lat" is coming from vizField in VizShare rather than the data. We can change the term in the VizShare renderer, but it will affect all existing maps. Is that acceptable?

The longer term solution is to switch to getting the renderer information from the server. RendererFieldTemplate has a 'label' field which gives a friendly name for the vizField.

[2014-07-04 09:12] GilesGibson commented on #14
I suppose it wasn't obvious when creating the vis that there was a column that I could use for the hover over/click on option. If this could be made easier to realise then it would help.

[2014-07-04 09:14] pmackay commented on #4
Need to debug with @dataunity. I wonder if some progress statements to the user would help, as backend construction happening? Also can make those statements fun (seen on other sites).

[2014-07-04 09:14] pmackay commented on #3
You do have to choose all columns. Need to add check in UI.

[2014-07-04 09:16] pmackay commented on #2
@dataunity would it work if I just added a friendly name in the builder for now?

[2014-07-04 09:17] pmackay commented on #1
Agree, its not finished. Was trying to sort with Chris, didnt get an ideal solution yet. TBD.

[2014-07-04 09:17] GilesGibson commented on #8
There was a Trello card specifically about being able to tweak just one aspect to save doing the entire thing again.

[2014-07-04 09:42] dataunity commented on #4
The job status message (i.e. what is returned from the url that polled whilst a job is running like /api/beta/jobs/datatable-jobs/xxx) has a bit of progress information (e.g. started, completed, working, error). It could do with some more fine grained messages though.

The first version of the job js file didn't break on errors (which led to the appearance of continual loading). Could you check yo

[2014-07-04 09:44] dataunity commented on #2
@pmackay yes, that would work for the moment (as long as the vizField reference stays the same).

[2014-07-04 09:47] GilesGibson commented on #7
OK, lets describe it as such on the buttons then. Currently a user would not know the difference.

[2014-07-04 09:57] dataunity commented on #8
Would be good to have a UX session on the viz building process. I need to be thinking about this in the near future for the new DU interface too.

[2014-07-04 10:00] GilesGibson commented on #1
Just noticed that the thin red line round the box only appears once you move the mouse away.... need a rethink.

[2014-07-04 10:15] hardieas commented on #12
deluxe tag widget has 54 outstanding bugs and the code hasn't been touched since November. Sure you want to use that?
And, where are these duplicate tags showing up, exactly? On which site and in which area (in the central Viz list? Can't be in the Facets as they're not showing up on the live site)

[2014-07-04 10:34] GilesGibson commented on #8
there are a lot of Trello cards relating to how we were wanting it to operate.

[2014-07-04 10:37] GilesGibson commented on #12
It was on the vis page - however they have all now disappeared - no filters on LH side at all.

[2014-07-04 13:08] pmackay opened #16 "Change "OV Type" to "Type""
OV prefixes should not be visible to the user.

[2014-07-04 16:20] pmackay commented on #3
Buttons disabled now til right content selected.

[2014-07-04 16:23] pmackay commented on #11
This should be set automatically now. Needs more testing. Is on dev site.

[2014-07-04 16:24] pmackay commented on #5
Pushed to dev.

[2014-07-04 16:25] pmackay commented on #2
Field names improved and descriptive text added.

[2014-07-04 16:50] #3 closed, assigned to GilesGibson

[2014-07-04 16:55] GilesGibson opened #17 "Visualiser screen - no button to clear a filter"
when looking at all the visualisers available - at the top is the search by name dialogue box. Then next to it is the apply box. There is no way of clearing the selection though - need a "reset" or "clear" button.  What happened to the search or filter by author, date and so on that used to be at the top?

[2014-07-04 17:01] GilesGibson opened #18 "Vis creation not giving chart"
Tried to create a new vis. Used dataset of pay grades. Selected bar chart. Selected x axis and y axis, then selected next step and got the spinning wheel.

Tried to go back to change x or y axis (in case I had made a mistake).got this layout:
![image](https://cloud.githubusercontent.com/assets/6060985/3484027/ed41c9cc-039c-11e4-946b-cf3dd4368433.png)

[2014-07-04 17:04] pmackay commented on #18
In what way did you "go back"? With the browser back button, or the Back button in the viz builder?

[2014-07-04 17:09] GilesGibson commented on #18
Sorry, should have stated. I used the back button on the vis builder screen, not the browser back button.

[2014-07-04 17:12] dataunity commented on #18
@GilesGibson could you avoid using the 'Payscales' dataset for the moment. It's one from data.gov.uk that has been saved with a more unusual content type (Windows 1252). I haven't built an interpreter for that yet.

[2014-07-04 17:18] GilesGibson commented on #18
OK, not a problem, seemed so tasty a dataset and it had been uploaded...

[2014-07-04 17:19] hardieas commented on #18
On 04/07/14 18:12, Data Unity wrote:

If/when you need I have several Perl scripts I've used before to handle
fixing Win 1252, CP837, etc and get it into utf8...

A

[2014-07-04 17:34] dataunity commented on #18
Thanks @hardieas. However the main issue is automatically detecting charset from the source file. Pretty hit and miss.

[2014-07-04 17:40] hardieas commented on #18
On 04/07/14 18:34, Data Unity wrote:

A

[2014-07-04 18:08] dataunity commented on #18
Thanks. Have some auto detect code that I can bring in from the old version of Data Unity. Just need to get it into the new import procedure.

[2014-07-07 10:32] GilesGibson opened #19 "Unable to edit a visualisation"
I created a visualisation, published it. I then selected edit vis and was dumped back at the beginning of the wizard. It wouldn't allow me to just tweak one aspect of the vis, just wanted me to start from scratch again.

[2014-07-07 10:32] GilesGibson commented on #5
OK, if we can keep the live site free of techie debug stuff it would be great.

[2014-07-07 10:32] #5 closed, assigned to GilesGibson

[2014-07-07 10:33] GilesGibson commented on #2
will test some more

[2014-07-07 10:36] GilesGibson opened #20 "Vis builder screen - Plus button"
The vis builder screen has the menu bar:

![image](https://cloud.githubusercontent.com/assets/6060985/3494239/5dcceb64-05c2-11e4-9e91-1d6808f2d473.png)

Where is the "plus" button on the s rest of the page - there is a "select" dataset button but noi plus button. Needs to be updated with correct description.

[2014-07-07 10:47] GilesGibson opened #21 "Visualisations not showing"
Logged in as admin. Created a new vis. saved it. went to main vis screen, clicked on the one I was interested in (created a few mins ago). It only shows the metadata around the vis, no map or anything.

[2014-07-07 11:26] pmackay commented on #12
Better tag widget in place. Should reduce likelihood of duplicates. Please review.

[2014-07-07 13:08] GilesGibson opened #22 "Overlapping text on vis page"
Looks like there is text overlapping the rating stars on the main vis page.

![image](https://cloud.githubusercontent.com/assets/6060985/3495527/bb7ab3c6-05d7-11e4-9f10-660596b7fd77.png)

[2014-07-07 13:15] djwesto commented on #1
The idea was that the "selected" and "rollover" (hover) states of each option would be styled roughly like the box with a blue background and white text shown in this section of the style guide: http://0.0.0.0:4000/communitydata-styleguide/styleguide/#visualizations

![image](https://cloud.githubusercontent.com/assets/702685/3495582/b100515c-05d8-11e4-88d8-55c2a5318c50.png)

[2014-07-07 13:16] djwesto commented on #14
So are we saying this is mostly a question of reviewing the user-interface label text and then doing a rewrite so it's clear?

[2014-07-07 13:21] djwesto commented on #4
So we can write some fun progress info text strings like:
- Whistling idly as big data chugs clumsily into position
- Staring vacantly as our brainiacs crunch your numbers
- etc...

But @GilesGibson also mentioned a couple of other issues like needing to change the criteria for the map "without going through the entire thing again" – is this an existing User Story or a new one? If it's new we need

[2014-07-07 13:25] dataunity commented on #21
Would it be possible to get more info on the process used to create the visualisation:
- which dataset was chosen
- which fields were selected to create the visualisation

[2014-07-07 13:30] GilesGibson commented on #1
I was just hoping that if I clicked on something like the map icon it would be obvious that I had chosen that one. That way I could know that the clever computer had got the hint.

[2014-07-07 13:32] GilesGibson commented on #14
For now, yes. I didn't know what the column descriptions were meant to be about. If it said (or displayed on a mock up drawing) that the item chosen would show up when the mouse hovered over the "pin" or displayed when the "pin" was selected then it would help more.

[2014-07-07 13:34] pmackay commented on #21
I think there is a bug introduced that is causing problems with saving the viz content. Am investigating.

[2014-07-07 13:36] GilesGibson commented on #4
If we could have something more than just a spinning wheel it would be great.

The ability to change one item without going all the ay back to the beginning is a trello card, been here ages, we have discussed this at scrum meetings as well.

For the oldies amongst us, Windows used to come on 26 floppy disks. The first install script basically had you feed each disk in one after the other and answe

[2014-07-07 13:39] djwesto commented on #7
On the wireframes we used the terms "Edit details" and "Edit visualisation" as well as different coloured buttons to distinguish between the important ability to edit the visualisation itself and the less important editing of the metadata. @GilesGibson, are you happy with that wording?

![image](https://cloud.githubusercontent.com/assets/702685/3495839/20b195ee-05dc-11e4-9be4-2b3918385aca.png)

[2014-07-07 13:57] djwesto commented on #8
In view of these comments we will need to review the way this works – @pmackay I assume this Trello card refers to needing to do this? https://trello.com/c/oQjEPbcj

@GilesGibson, I found this Trello card: https://trello.com/c/fq1dohf7 Is it the one you're referring to in your message? I can't see any others... Could you link to them here?

Might it help if we de-emphasise the wizard steps in the

[2014-07-07 14:12] djwesto commented on #4
See my thoughts on this issue here: https://github.com/folklabs/communitydata/issues/8#issuecomment-48181113

Choices early on in the wizard process affect choices that can be made later on in the wizard. Perhaps it would make sense to list out which steps in the wizard need to be editable?

[2014-07-07 14:33] djwesto commented on #2
This seems like a similar issue to https://github.com/folklabs/communitydata/issues/14. Is there a case for merging them together?

So, where our current labels say things like:

I think we could improve those slightly: for instance, it seems unhelpful to refer to "fields" which are, to all intents and purposes, invisible to our users. Instead, it might be clearer to say something like:

I can rew

[2014-07-07 14:47] GilesGibson commented on #8
The original aim was on this Trello card: https://trello.com/c/QvnQtBOM

I was expecting some sort of breadcrumb trail - especially on filters but also on vis, that could be clicked on at any point to change one parameter. It I copy a viz and then want to change one parameter then I need to be able to do this i.e. have a fab vis of crime in a ward, copy the vis and just change the ward for the new

[2014-07-07 14:56] GilesGibson commented on #4
for now, if the Next/prev button is more prominent then we can run with that. we will need simple ways of just diving in to one spot, changing a parameter, clicking on save and voila!

[2014-07-07 14:59] djwesto commented on #8
OK, that Trello card ain't exactly the _clearest_ I've ever read, but I won't be a nitpicker here...

I think in light of this we will definitely need to review the whole process moving forward. It would be worth evaluating each step in the wizard process to identify which are fixed and which can be tweaked at a later day. I take your point about the specific use case of cloning or duplicating an

[2014-07-07 15:03] ghost commented on #22
What's the URL (on the pantheon live site) for this? It can be tackled in CSS.

[2014-07-07 15:06] ghost commented on #6
Can't seem to find this issue -where is it on Pantheon dev?

[2014-07-07 15:07] GilesGibson commented on #8
OK, not all my Trello cards are as clear as could be, it was clear in my mind, just that the keyboard had a visualisation interface issue.

We did discuss quite a bit at scrum meetings the need for this feature. Not sure exactly what the outcome was. However, for the MVP we need to be able to edit a vis without being dumped back at the beginning...

[2014-07-07 15:07] ghost commented on #22
Also - which browser and resolution?

[2014-07-07 15:11] GilesGibson commented on #6
I am working from live site:

![image](https://cloud.githubusercontent.com/assets/6060985/3497144/ecc3cbb4-05e8-11e4-9f75-23269c3f3bda.png)

[2014-07-07 15:13] GilesGibson commented on #22
it is on the live site.

Chrome, no idea on resolution - approx 2048 x 1700. Doesn't matter what magnification is chosen, still overlaps. Was OK last week.

[2014-07-07 15:17] ghost commented on #22
URL?

[2014-07-07 15:26] GilesGibson commented on #22
http://live-communitydata.gotpantheon.com/visualizations

[2014-07-07 15:33] ghost commented on #22
Done. There appears to be a rogue character appearing under the star rating.
This has now been scrubbed by preventing its display in the css.
Pushed fivestar.css to github.

[2014-07-07 15:35] GilesGibson commented on #22
OK, and what is the process for the live site to get updated? Are you waiting for a range of issues to be sorted and then re-publish?

[2014-07-07 15:37] ghost commented on #22
Well, I can't seem to use Pantheon in Sourcetree atm, so I can manually add the changed CSS files to the Pantheon repo just via the web browser.
Has the CSS problem resolved with you Giles?

[2014-07-07 15:39] GilesGibson commented on #22
Well, I hit refresh a few times and it still looks the same, hence the reason for asking when the live site may get updated. If it will get updated next time there is a build then fine.

[2014-07-07 15:40] ghost commented on #22
OK. That's what will happen then.

[2014-07-07 15:49] GilesGibson commented on #2
why are we calling them columns? It just made me think of a bar graph so was confused.

maybe along the lines of "select the data in this list that will define the horizontal position of your map pins".

Need text that will describe the other items that I think mean the data that is displayed when you click on a pin although I have tried a few versions and am still unsure.  Need to be really clear

[2014-07-07 15:50] GilesGibson commented on #14
merged with issue #2

[2014-07-07 15:50] #14 closed, assigned to pmackay

[2014-07-07 15:50] GilesGibson commented on #2
#14 now merged with this one.

[2014-07-07 16:06] ghost opened #23 "Fonts"
The mockups use Arial whereas the dev site uses Open Sans. Can we confirm which font to use? Happy to switch everything to Arial.

[2014-07-07 16:11] GilesGibson commented on #23
One for you @djwesto

[2014-07-07 16:21] ghost commented on #10
Giles - email me the admin p/w and I'll investigate.

[2014-07-07 16:22] ghost commented on #6
As per other issue, email me the admin pw and I'll take a look.

[2014-07-07 16:37] djwesto commented on #2
Yeah, fair point about "columns" although that's what they are in the data tables.

I don't know if "columns" is a term that's fixed because of the @dataunity APIs but if not, then we could definitely change it to something clearer – again, it depends if you've added your own dataset or not. But your wording "select the data..." assumes users will realise that the labels that appear under this ins

[2014-07-07 16:39] djwesto commented on #23
Hi there Lloyd. I'm not sure we've been introduced. Please use Open Sans everywhere. Have you been sent the link to the styleguide?

[2014-07-07 16:40] GilesGibson commented on #2
a small illustration would be great - just to explain the horizontal and vertical aspect of a map. However, I am not sure if you would ever use a map that didn't have the lat as the latitude aspect and the long as the longitude aspect? Maybe if it is a map chosen then those two fields would be auto-selected?

[2014-07-07 16:41] djwesto commented on #10
Not sure it's a great idea to expose these on github...?

[2014-07-07 16:42] GilesGibson commented on #10
sorted...

[2014-07-08 07:47] pmackay commented on #22
@GilesGibson to check on dev site.

[2014-07-08 07:48] pmackay commented on #20
@djwesto do we just change the top description text?

[2014-07-08 07:50] pmackay commented on #17
Can you just empty the content of the text box and click Apply?

[2014-07-08 08:01] djwesto commented on #20
Yes, I suggest that just changing that plus symbol to read "Select" would be enough for now.

[2014-07-08 08:46] GilesGibson commented on #22
I had a look at the dev site - still problems on some of the visualisations.

[2014-07-08 08:47] GilesGibson commented on #20
fine. just be consistent.

[2014-07-08 08:49] GilesGibson commented on #17
well, yes, people could block all the search text and hit delete. If the filters on the left hand side have a clear button then would it not make sense to have the search facility to have a clear/reset button - makes it quicker and easier to operate. UX experience 'n' all that!

[2014-07-08 10:22] GilesGibson opened #24 "User login for live site"
In order for users to see all of what is available for the live site can we create a generic user and password that I can give out to a very few selected people. I dont want to hand out the admin one.

[2014-07-08 10:30] pmackay commented on #24
Would it be worth people registering their own accounts? Or best not at this point?

[2014-07-08 10:33] GilesGibson commented on #24
If that bit works then fine. It was mainly for them to poke around a bit and maybe do a vis or two. If you are happy to start to have some users on the system then great. I can warn them that their entire work may be deleted at a moments notice...

[2014-07-08 12:16] djwesto commented on #24
I think it probably does make sense to get more users on the site creating "real" visualisations so we can build up a library of real examples.

[2014-07-08 13:48] djwesto commented on #2
So is _"Automated detection of lat/long fields"_ a new backlog feature you'd want us to add to Trello? I'm fairly certain that @pmackay & @dataunity won't have capacity to include that in our alpha version for end of July... :grin:

[2014-07-08 17:39] djwesto commented on #23
Closing...

[2014-07-08 17:39] #23 closed, assigned to djwesto

[2014-07-08 18:00] djwesto opened #25 "Fix page title hierarchy in "Create visualisation" app"
Logged in as admin.

I'm on http://dev-communitydata.gotpantheon.com/node/add/ov-visualisation and noticed that the page tile is "Create visualization" but it should say something like "Edit details" since that's the stage you're at once you're dropped into the Drupal node edit page.

See below:
![image](https://cloud.githubusercontent.com/assets/702685/3514123/56503ae6-06c9-11e4-8cc8-88b663cdbca2

[2014-07-08 18:04] djwesto commented on #25
I've just realised that in other steps in the wizard, we have a main page title of "Create visualization" and then a further subtitle of "Edit visualization" or whatever other step we are on:

![image](https://cloud.githubusercontent.com/assets/702685/3514212/0b3f0a72-06ca-11e4-8af9-6391eaa470e5.png)

However, in the wireframes, we tightened up this design by including both parts of the step name

[2014-07-09 12:13] djwesto opened #26 "H1 titles on Visualization node page is repeated."
The node title on each Visualization node page is repeated twice – once above the vis itself and then again underneath the vis in the centre column. See below for screengrab:

![image](https://cloud.githubusercontent.com/assets/702685/3523966/a8a059f0-0761-11e4-89f3-1c2bf36ef38a.png)

Not sure if this is an error or simply hasn't been done yet, but we need to remove the top H1 to match the layout

[2014-07-09 14:45] djwesto opened #27 "Explanation and labelling of "Aggregation function" tool"
I think we could improve the labelling and explanation (as well as possibly the UI) on this set of radio buttons that appear at the bottom of the "Select columns" step in the viz-builder wizard.

At the moment, this screengrab shows that each item is identified by a single word label next to each radio button. But it's definitely not clear at all to an idiot like me what selecting these radio butt

[2014-07-09 15:31] djwesto opened #28 "Any way to identify the contents of each dataset column in the "Select column" listing?"
I've just been drafting the first of our testing scripts and have found it impossible to know the type of data contained inside each of the columns in the _Recycling Banks_ dataset. It's unclear whether the column titled "Batteries" (for instance) contains data detailing the _Number of batteries recycled_ or _Type of batteries recycled_ or something else entirely...

Of course, if I was viewing th

[2014-07-09 16:38] djwesto opened #29 "Extra "count" column appears after stepping back from "Edit visualization" to "Select data columns""
Not sure whose issue this is so have assigned to @pmackay. After selecting columns in the "Select data columns" wizard step, I click to advance to the Edit Visualization step. But, if I then click "Back" from that step, I see an extra column appear titled "count" (in all lower-case) on that next page:

![image](https://cloud.githubusercontent.com/assets/702685/3527591/8a9d92b8-0786-11e4-9252-dbf3f

[2014-07-09 16:52] djwesto commented on #28
I also just want to demonstrate what happens if you decide to select a column you aren't familiar with or don't understand. Here I selected a couple of columns: "Location" for the X axis and "Books" for the Y axis. Clearly it hasn't worked but, because it's impossible to read any of the axis labels, I can't really tell what's happened either:

![image](https://cloud.githubusercontent.com/assets/70

[2014-07-09 17:54] dataunity commented on #27
It's important we get a note about the Average being the 'mean average' for correctness.

[2014-07-09 17:57] dataunity commented on #29
'count' probably relates to the automatically generated measure that comes out the processing (the aggregate value that the data processing system produces). Probably need a bit of discussion about the best way to present the aggregated values to the user.

[2014-07-10 08:17] dataunity commented on #28
There's data type information in the so-called DataStructureDefinition information for a column:

http://data-unity.com/api/beta/datatables/country?retrieve=structure
...
    {
      "fieldRef": "Region",
      "dimension": {
        "range": {
          "@id": "xsd:string"
        },
        "label": "Region"
      }
    }
...
The 'range' property contains information about the data type. The 'fi

[2014-07-10 08:50] djwesto commented on #29
Maybe best to wait until @pmackay gets back then.

[2014-07-10 08:54] djwesto commented on #28
So the "@id": "xsd:string" might alternately read "xsd:integer" or "xsd:date" or something like that then? And we could use that indicator to set an icon or other cue on the app interface?

[2014-07-10 09:51] dataunity commented on #28
That's right. Generally xsd (XML Schema data types) is used when expressing a primitive data type in Linked Data. Here's a link to all the data types:

http://www.w3.org/TR/xmlschema-2/#built-in-datatypes

[2014-07-10 10:02] GilesGibson commented on #21
At the moment (Thursday a.m.) none of the three sites can create a vis of a graph or a map. This is a bit of a problem with demos and such like. If this can be fixed it would be really good, a bit of a critical issue. @pmackay @dataunity

[2014-07-10 10:04] GilesGibson commented on #12
looks like it is fine now, thanks

[2014-07-10 10:04] #12 closed, assigned to GilesGibson

[2014-07-10 10:08] GilesGibson commented on #2
for now we can run with expecting people to put in the field they want. I think that in the future, version2 we can look at how some datasets when used with maps would only have obvious columns of data for obvious fields i.e. lat would be in lat, long in long. I am assuming that you couldn't make a meaningful map without going foe those options or is there a scenario where you would want something

[2014-07-10 10:12] dataunity commented on #21
I've just tried running several queries against the DU server and everything seems to be ok there. For example here's the job output for the lat/long example run a few seconds ago.

http://data-unity.com/api/beta/jobs/datatable-jobs/70c85e5f-9c0c-42b1-8687-186e8be8cbf6/tmp-output

Just to confirm, I've not made any updates to the server for the last couple of days. Has there been any updates to CO

[2014-07-10 10:45] dataunity commented on #21
Looking at the network traffic from the browser I can't see any calls going to Data Unity to retrieve data, so believe this is an issue on the COD side. Copying in @hardieas in case Andrew knows anything about breaking changes released to the COD site in the last 24 hours.

[2014-07-10 11:02] djwesto commented on #2
It would be fabulous to think that if you're creating a location map you could maybe automatically just pre-select lat+long. Or for a choropleth map you could automatically just only offer what sort of level of granularity you'd want to draw each region at: ward, SOA, natural neighbourhood, street, postcode etc.

[2014-07-10 11:29] djwesto commented on #28
Cheers mate. That's great. So potentially we might eventually need an icon or at least a text label for each of those data types?

[2014-07-10 11:34] djwesto commented on #21
Don't worry. @GilesGibson and I have looked over the Drupal dev- and live- sites this morning and new visualizations are now working fine after we've built and published them. The older visualizations are totally borked though, so they'll have to be :toilet:ed. We can build new visualizations on the test- instance or live though so will do that and we should be OK for Giles' presentation on Tuesda

[2014-07-10 11:35] #21 closed, assigned to pmackay

[2014-07-10 11:40] dataunity commented on #28
Yes, some way of identifying the data type of a column is a good idea.

[2014-07-10 11:44] pmackay commented on #21
@dataunity any chance you could test on the COD dev site and see what the network calls are doing then?

On 10 Jul 2014, at 11:45, Data Unity notifications@github.com wrote:

[2014-07-10 11:53] dataunity commented on #21
As per Chris' comment, I've just viewed one of the visualisations created today and that does indeed seem to be creating a visualisation (and calling the DU server to request data).

http://dev-communitydata.gotpantheon.com/visualizations/carrier-bag-recycling-points-lambeth

[2014-07-10 12:03] GilesGibson opened #30 "bar charts not displaying correctly"
test site, logged on as admin

Created a bar graph. Display is not scaled on the vertical correctly. X axis also unable to show labels due to density.

![image](https://cloud.githubusercontent.com/assets/6060985/3538076/22745740-082a-11e4-834c-eca9fee5fd2c.png)

[2014-07-10 12:09] GilesGibson commented on #22
looks like the star overlay problem is more on new graphs, the new map vis displayed corectly:

![image](https://cloud.githubusercontent.com/assets/6060985/3538129/ff6b3e52-082a-11e4-8e5f-a39981f3c39b.png)

[2014-07-10 12:12] GilesGibson opened #31 "problems creating a review"
test site, logged in as admin.

Went to a vis that had been done. Clicked on request review. Presented with a dialogue box, edited it, went to save and got:

![image](https://cloud.githubusercontent.com/assets/6060985/3538149/686d7140-082b-11e4-9f12-b5ac59b7eac0.png)

[2014-07-10 12:25] GilesGibson commented on #31
If I don't edit the box, then it will allow me to save it. However this is not ideal. The purpose of requesting a review is to illicit some help - some narrative around why you want a review is needed.

[2014-07-10 12:26] GilesGibson opened #32 "Review requests - not displaying author"
The review of review requests - doesn't show author of the vis who has requested the review.

![image](https://cloud.githubusercontent.com/assets/6060985/3538257/6fd7ae08-082d-11e4-9502-edbf01442a6a.png)

[2014-07-10 12:28] djwesto commented on #2
Added this as a Trello card here: https://trello.com/c/3Vh5w0Y7

[2014-07-10 12:37] GilesGibson opened #33 "review requests - not going back to correct vis"
when looking at the review requests, clcik on see review and it just puts us back in the general vis list, not the vis that the review was about.

![image](https://cloud.githubusercontent.com/assets/6060985/3538364/e4cf19ca-082e-11e4-89e0-b27c506bd65e.png)

[2014-07-10 12:40] GilesGibson opened #34 "review creation"
went to create a review. The tag and category list at the bottom is not limited to the standard amount. Too many on show

![image](https://cloud.githubusercontent.com/assets/6060985/3538390/4f5fa7dc-082f-11e4-92e2-71cc5a5dd752.png)

[2014-07-10 12:42] GilesGibson opened #35 "review creation - why choose different one?"
not sure why there is the option of changing the vis you are reviewing. Would be confusing fo the author?

There is probably some logic behind this but not obvious to me as yet.

![image](https://cloud.githubusercontent.com/assets/6060985/3538422/a2fafb26-082f-11e4-86f3-2e08c14a2aa9.png)

[2014-07-10 12:45] GilesGibson opened #36 "Time field moves onfocus – vis metadata edit pages"
whenever the dialogue box for "time" of creation is filled in it moves to the line below:

![image](https://cloud.githubusercontent.com/assets/6060985/3538460/0bdb1b30-0830-11e4-82bd-df39afb11d18.png)

[2014-07-10 12:47] GilesGibson opened #37 "rating of a review"
when the vis reviews are displayed - there is the star rating box on the right hand side.

Are we rating reviews now as well?

![image](https://cloud.githubusercontent.com/assets/6060985/3538482/573f012c-0830-11e4-8172-221c5f2a3091.png)

[2014-07-10 13:03] GilesGibson opened #38 "Need some background info to vis for when adding metadata"
test site, logged in as admin.

I created a vis (map). Then went to edit metadata. What would help a great deal is if there could be something across the top of the screen that show what datasets were involved and what fields had been selected - an aid memoire. Tought to remember exactly the nuance of the vis that you have just done for instance - if you were to do 26 or so ward comparisons rememb

[2014-07-10 13:14] GilesGibson opened #39 "Write a review - no indication of the vis that is being reviewed"
Whan starting to write a review there is no indication as to what vis you are reviewing:

![image](https://cloud.githubusercontent.com/assets/6060985/3538744/1b3d7858-0834-11e4-8618-28c7ee1c8366.png)

[2014-07-10 13:27] GilesGibson opened #40 "Clear filter selection option missing"
test site. admin user.
Vis page.
Selected filter on left to reduce the number of visualisations displayed. The option to reset or clear the filters has gone.

![image](https://cloud.githubusercontent.com/assets/6060985/3538896/e4c7740c-0835-11e4-9d8a-de828600b9f6.png)

[2014-07-10 13:33] GilesGibson opened #41 "English versus americanise for visualise"
The american spelling is visualize.

The british spelling is visualise.

Can we decide which continent we are aiming for?

[2014-07-10 13:38] GilesGibson opened #42 "Add button styles to controls in right column of vis node page"
test site.
admin user.

Right hand column has various menu options - should these line up vertically? (add new comment, save as, comment etc....

![image](https://cloud.githubusercontent.com/assets/6060985/3539079/70ba2120-0837-11e4-83ad-39ee394eff78.png)

[2014-07-10 13:41] GilesGibson opened #43 "Re-label "permalink" to read "link to this" on comments"
test site
admin user

Comments area shows field called permalink - not sure what this is for.

![image](https://cloud.githubusercontent.com/assets/6060985/3539127/de5adee0-0837-11e4-9d97-a9f4888a6500.png)

[2014-07-10 13:43] djwesto commented on #38
See more detail about this issue here on Trello: https://trello.com/c/j0Zd9vQ3

[2014-07-10 13:49] djwesto commented on #41
I'm guessing this has happened because Paul M's got his Mac set to US English to make coding easier (_color_ vs _colour_ etc). I used to face this -ize vs -ise problem on an hourly basis in my old job and we settled on -ize for internationalisation purposes.

Sadly, **-ize** is actually originally old English which the pilgrims took with them when they boarded the Mayflower, bound for the new worl

[2014-07-10 13:50] GilesGibson opened #44 "Comments - reinstate the "Report abuse" link next to comments"
test site
admin user

The area below the comment is a little confusing. Items like, edit/report etc are not laid out that clearly Need to be on a line?

![image](https://cloud.githubusercontent.com/assets/6060985/3539274/29138e68-0839-11e4-8caa-c774853df28c.png)

[2014-07-10 14:01] djwesto commented on #43
It's probably just a vestige of the way the content type has been built. As it is it's not very helpful...

_BUT_

I think it might be really cool if we could find a way to re-render this Permalink so it can act as the link that would appear in the **Share live-data visualisation** or **Share freeze-frame visualisation** field – the one users can copy+paste it into other places etc...

![image](ht

[2014-07-10 14:24] dataunity commented on #30
@GilesGibson Would be great to get some more details about this so I can investigate further:
- which dataset was chosen?
- which field was chosen for the x-axis?
- which field was chosen for the y-axis?

Generally to make dense labels more readable it's good to have them on an angle. This is one of the options we need to bring forward to the viz editing. Think @djwesto has been working on some wi

[2014-07-10 14:28] djwesto commented on #30
I haven't worked those up yet but I will try to soon.

[2014-07-10 14:40] GilesGibson commented on #30
@dataunity The dataset was the one about housing and housing densities (we need this info available on screen - see later github request to all). I selected ward as the x axis and I think "max" and the field that had the maximum occupancy in for the y axis. I think the Y scaling may be a bit out...

[2014-07-13 16:33] GilesGibson opened #45 "visualisations not showing"
test site. admin user.
looking at vis page.
Tried looking at the maps, nothing showing. Tried creating a chart. Nothing showing.

[2014-07-13 16:34] GilesGibson opened #46 "vis builder - categories - not allowing multiple selection"
test site.
admin user.
tried to create a new vis. When clicking on category it would operate as radio buttons, not multiple selection so could only ever be in one category.

[2014-07-13 17:01] hardieas commented on #46
Sorry, did I miss a decision to allow multiple categories on a Viz...?

On 13/07/14 17:34, GilesGibson wrote:

[2014-07-13 17:04] GilesGibson commented on #46
Used to be like that.

From:  hardieas notifications@github.com
Reply-To:  folklabs/communitydata
<reply+i-37744654-523debd320a901affc7cf69f7128a8651b4f49dd-6060985@reply.git
hub.com>
Date:  Sunday, 13 July 2014 18:01
To:  folklabs/communitydata communitydata@noreply.github.com
Cc:  Giles Gibson giles.gibson@originaltg.com
Subject:  Re: [communitydata] vis builder - categories - not allowing
multi

[2014-07-13 17:16] hardieas commented on #32
Fixed

On 10/07/14 13:26, GilesGibson wrote:

[2014-07-13 17:16] hardieas commented on #31
The Review reason box wasn't showing up. Now fixed.

On 10/07/14 13:25, GilesGibson wrote:

[2014-07-13 17:48] dataunity commented on #45
I've just run some tests on the DU server and everything seems to be working there. I've just taken a look at the chart I made a couple of days ago ("Country test") and that seems to be displaying:

http://dev-communitydata.gotpantheon.com/visualizations/country-test

When creating a visualisation I found that it took a long time for the visualisation to appear. Could you try again and wait awhile

[2014-07-13 17:56] hardieas commented on #46
Just done three pushes to dev, fixing a variety of small things,
including allowing the category term to have multiple selections,
selecting Related Viz's based on any of the categories, not all (so less
exact match) and having the Viz author show up on the review requests.

I intend no more pushes until after the demo tomorrow, but will continue
to struggle on my clone with the problem of formatt

[2014-07-14 06:12] pmackay commented on #45
Does it work on dev?

Did Chris migrate the code to test?

On 13 Jul 2014, at 17:33, GilesGibson notifications@github.com wrote:

[2014-07-14 08:47] djwesto commented on #45
Morning,

I did migrate the code from dev to test. Yes.

---

_Chris Wells_\* Co-founder & Creative Director*
Folk Labs Ltd  www.folklabs.com  |  linkedin http://lnkd.in/uZxawZ
twitter @djwesto http://www.twitter.com/djwesto

On 14 July 2014 07:12, Paul Mackay notifications@github.com wrote:

[2014-07-14 08:49] hardieas commented on #45
When did you do this?
Before or after my code pushes last night:

commit 7af4d603bc7e4d5f490462f504a513206c6c3fd4
Author: Andrew Hardie (ASH) hardieas@yahoo.co.uk
Date:   Sun Jul 13 18:46:30 2014 +0100

[code]

commit 074260c43c39d7f2f95971727668432b29cdb623
Author: Andrew Hardie (ASH) hardieas@yahoo.co.uk
Date:   Sun Jul 13 18:44:47 2014 +0100

[code]

commit d2ea51bad39c41d601c156334a3226b511ce6

[2014-07-14 09:48] GilesGibson commented on #45
test site.
logged on as admin
I can create a new map (eventually, v slow) and it shows. Graph can be created but doesn't show. Previous charts/maps don't display either.

[2014-07-14 10:05] GilesGibson opened #47 "Vis view - comments are confusing"
test site
admin user

When looking at the comments it is confusing as to why some comments have the permalink highlighted and others dont.

Where are the reviews? Cannot find how you see if a vis had had a review.

![image](https://cloud.githubusercontent.com/assets/6060985/3569357/50d9ad1c-0b3e-11e4-8b6d-d77a40563726.png)

[2014-07-14 10:16] dataunity commented on #45
I've just created a visualisation on the test site. It was very slow though - took 3 mins to appear in the preview screen at the end of viz wizard. Takes 20 secs to appear when viewing on the visualisations page.

http://test-communitydata.gotpantheon.com/visualizations/country-test

In the viz wizard there seems to be a backlog of calls for dataset information that eventually time out before the

[2014-07-14 10:24] hardieas commented on #47
Reviews are content and so not transferred via Features or git push.
There is only one Review I can find on the test site, and that seems to
be wrongly named.
It appears off this Viz:
http://test-communitydata.gotpantheon.com/visualizations/battery-recycling-locations-lambeth

A

On 14/07/14 11:05, GilesGibson wrote:

[2014-07-14 10:27] GilesGibson commented on #47
when looking at the vis page - how do I tell if a vis had had a review?

[2014-07-14 10:34] hardieas commented on #47
If you look at the Viz page for a Viz that's had a review, e.g.
http://test-communitydata.gotpantheon.com/visualizations/battery-recycling-locations-lambeth
it shows up on the right, as the "Reviews of this visualization" block
(pane, actually).
If there are no reviews, then the block doesn't show up...
A

On 14/07/14 11:27, GilesGibson wrote:

[2014-07-14 10:49] GilesGibson commented on #47
it shows all the reviews of all vis, not just the vis I am viewing.

![image](https://cloud.githubusercontent.com/assets/6060985/3569760/92b5d444-0b44-11e4-8223-8c0006d95b26.png)

[2014-07-14 10:54] hardieas commented on #47
There are only 2 reviews and they are both of the same viz, that's why
they are both appearing on that Viz.
This one is wrong: http://test-communitydata.gotpantheon.com/node/28/edit
(Look in the Visualization field under the body) - you can change it to
refer to the right Viz.
Of course, a different Qn is how the wrong one got in there...

On 14/07/14 11:49, GilesGibson wrote:

[2014-07-14 11:00] GilesGibson commented on #47
well, as I wrote both of them I don't think that I changed the vis that they were referring to. Will play further

[2014-07-14 11:16] hardieas commented on #47
Also, on test, the admin user was not added to the administrator role,
so "Write a review" was not showing up. Fixed.
User-account related stuff is not passed through via Pantheon and has to
be done manually.
Hence, test does not have the test-editor and test-mentor users that
Chris created on dev...
A

On 14/07/14 12:00, GilesGibson wrote:

[2014-07-14 12:10] djwesto commented on #47
I think we will want to have a review of the Review Content Type at some point in Phase 2.

Using the title of the Visualization as the title of the Review here will probably throw users a bit, at least in that side-bar listing. I'd imagine some reviewers might want to make the title of their review (if we have one at all) something more explanatory like "Wrong data used" or "Mistake on x axis"

[2014-07-14 12:14] hardieas commented on #47
The title of the Viz is not used automatically as the title of the
review, only to populate the field that links the review and review
request to the Viz.
The title is empty and it's up to the reviewer to enter it...

A

On 14/07/14 13:10, Chris Wells wrote:

[2014-07-15 11:19] djwesto opened #48 ""Add" commands are header links but could be a dropdown menu"
Morning @hardieas, @perini-lm & @pmackay,

Further to this morning's COD Skype meeting, I've been looking at the dev Drupal site header and I think it's probably going to need to be tidied up at some point. Doesn't have to be done right now but I thought I'd mention it now.

Right now it looks like this:

![image](https://cloud.githubusercontent.com/assets/702685/3583203/47a00782-0c06-11e4-85ae-7d

[2014-07-15 11:26] hardieas commented on #48
Let me check how they are implemented and get back to you..
On 15 Jul 2014 12:19, "Chris Wells" notifications@github.com wrote:

[2014-07-15 13:34] hardieas commented on #48
I checked on this.
The menus and header are not part of Page Manager or Panels.
They are in the template file, here:
sites/all/themes/community_data/templates/page.tpl.php
A

On 15/07/14 12:19, Chris Wells wrote:

[2014-07-15 13:51] djwesto commented on #48
Drat! Of course they are. What a shame. Oh well, at some stage it would be nice to at least get the menu options ordered into a dropdown of sorts. Look and feel is far less important right now. It's just that as the site functionality expands the current menu arrangement is quickly going to cause problems

[2014-07-15 14:22] hardieas commented on #48
Hacking on the template file is not a real problem. Page manager is what
it says it is - a Page Manager, not a Template Manager...
Have you looked at SuperFish for menus...?
A

On 15/07/14 14:51, Chris Wells wrote:

[2014-07-15 17:38] djwesto commented on #48
I haven't looked at Superfish for this but I think we've used it in the past and it seems to work well.

[2014-07-22 10:04] pmackay commented on #48
Would suggest this is not high priority for v1.

[2014-07-22 10:06] pmackay commented on #47
@GilesGibson is the original issue now fixed?

[2014-07-22 10:08] djwesto commented on #48
That's why it isn't in v1 priorities – I set it to be in the backlog and only marked as "desirable", not a deal-breaker.

[2014-07-22 10:09] pmackay commented on #45
@GilesGibson is this better now?

[2014-07-22 10:11] pmackay commented on #43
@djwesto permalinks are for comments, not for whole viz, so is your reply about a separate issue?

@GilesGibson do you want permalinks removed?

[2014-07-22 10:15] pmackay commented on #41
I did spend some time on this a while back, I'd agree with @djwesto that visualize is probably best generally, it doesnt seem to be an US/UK difference.

[2014-07-22 10:18] #41 closed, assigned to nobody

[2014-07-22 10:22] pmackay commented on #40
@hardieas can you comment?

[2014-07-22 10:23] pmackay commented on #38
@GilesGibson is it ok to defer this? I think we need to review whole create/edit process and this would include that.

[2014-07-22 10:24] pmackay commented on #37
@GilesGibson do you want reviews to be rated? Seems a bit overkill to me.

[2014-07-22 10:25] pmackay commented on #35
We should hide this control.

[2014-07-22 10:25] pmackay commented on #34
Tags should be shown as a Select Deluxe box, not checkboxes.

[2014-07-22 10:26] pmackay commented on #32
@GilesGibson can you check on dev?

[2014-07-22 10:26] pmackay commented on #31
@GilesGibson check and close?

[2014-07-22 10:28] pmackay commented on #24
OK lets get people creating new accounts on live. @GilesGibson has anyone tried that yet?

[2014-07-22 10:28] #24 closed, assigned to nobody

[2014-07-22 10:32] pmackay commented on #17
@hardieas do you know if there is any way to handle this?

[2014-07-22 10:36] pmackay commented on #2
@GilesGibson can we close this if original issue is resolved?

[2014-07-22 10:36] pmackay commented on #1
@GilesGibson this has been improved somewhat, can you confirm its ok?

[2014-07-22 10:42] pmackay commented on #20
Now changed to word "Select" on dev.

[2014-07-22 10:42] #20 closed, assigned to pmackay

[2014-07-22 10:45] pmackay commented on #4
Think viz creation is now working better. Edit problem is duplicate of #19.

[2014-07-22 10:45] #4 closed, assigned to pmackay

[2014-07-22 10:48] pmackay commented on #29
@dataunity is this something you want to discuss later? Need to know how to distinguish this so I can hide it or something.

[2014-07-22 10:50] pmackay commented on #28
Have moved to backlog as its labelled nice-to-have for now.

[2014-07-22 10:55] pmackay commented on #27
How do these sound?
- **Count** – Shows the total number of items
- **Sum** – Shows the sum of all the item values
- **Average** - Shows the mean average of all the item values
- **Min** - Shows the minimum value from all the item values
- **Max** - Shows the maximum value from all the item values
- **First** - Shows the first value in the list of values
- **Last** - Shows the last value in the li

[2014-07-22 10:56] pmackay commented on #8
Some clickability has been added to wizard steps. Otherwise moving to Backlog as need to consider overall edit UX.

[2014-07-22 11:00] djwesto commented on #42
Hi @perini-lm. Are you working on this? If not, I'm going to take it on now.

[2014-07-22 11:06] dataunity commented on #29
Ok, we can discuss later.

[2014-07-22 11:07] dataunity commented on #27
Sounds good.

[2014-07-22 12:12] GilesGibson commented on #1
It is better but ideally it would be more obvious to the first time user.

[2014-07-22 12:17] GilesGibson commented on #32
@pmackay author is now there, be good to have something like "Created by:" to be a little more user friendly.

[2014-07-22 12:17] GilesGibson commented on #34
what does that mean?

[2014-07-22 12:18] GilesGibson commented on #35
OK

[2014-07-22 12:19] GilesGibson commented on #37
No, reviews don't need to be rated.

[2014-07-22 12:20] GilesGibson commented on #38
be good to fix this before feature lockdown. Not a showstopper though

[2014-07-22 12:36] pmackay commented on #34
@hardieas needs to change the way the tags are displayed and can be filled in.

[2014-07-22 13:51] pmackay commented on #27
Fixed on dev.

[2014-07-22 13:51] #27 closed, assigned to pmackay

[2014-07-22 16:42] hardieas commented on #46
This was fixed then, but neglected to revert this issue to Giles... :-(

[2014-07-22 16:46] hardieas commented on #40
Working for me (on dev) in all filters (unless I've misunderstood)
The (-) by Social Issues in yr screencap _is_ the filter clear
Pls check...

[2014-07-22 16:54] hardieas commented on #34
Tags now implemented as a Select Deluxe widget (on my clone).
Will come to dev in next git push, tba
I removed categories from Reviews, on the grounds that the categoriies in the Viz top which the Review refers should have primacy. Additional navigation search assists could be done via Tags...

[2014-07-22 17:51] hardieas commented on #33
Spot the subtle difference. Under the " Check Visualization" link:
http://dev-communitydata.gotpantheon.com/visualizations/recycling%20banks%202
Actual link for the relevant Viz:
http://dev-communitydata.gotpantheon.com/visualizations/recycling-banks-2
Problem is some variable rewrite issue in the Replacement Patters facility.
However, the "Check Visualization" link is in fact redundant, as the Vi

[2014-07-22 17:53] hardieas commented on #31
Bear in mind my "fixes" are done on my clone, and then pushed to dev.
Paul M is in charge of when test is updated from dev...
Confident that will have happened in the last week, so pls check on test now...

[2014-07-22 17:56] hardieas commented on #16
Fixed on my clone.
Will go to dev on next git push, tba

[2014-07-22 18:05] hardieas commented on #17
The lo-tech way to solve this is to provide a link to the base page, without the query string in the uri that "remembers" the filter selection(s).
So, I did that as an "Add Links" item in Panels.
Done on my clone, going to dev on next git push...

[2014-07-22 18:10] hardieas commented on #39
There is, but it's underneath the review text.
Have modified the field order for the Review content type so that it now appears between the title and the Review text...
Done on my clone, to dev at next git-push...

[2014-07-22 18:12] hardieas commented on #37
Review field deleted from Review Content type.
Done on my clone, to dev on next git push, tba...

[2014-07-22 18:13] hardieas commented on #32
Fixed some time ago and visible on dev.
Not sure when last dev->test push done...

[2014-07-22 18:26] hardieas commented on #26
What is happening here is that Drupal is displaying the title of the Panopoly page that holds the Visualization content type and that page has for the centre content has "This Node: title" as a defined field.
Since the latter is the desired title location, fixed by selecting "No Title" in the Panelizer Full page override for the Visualization content type
Done on my clone. To dev in next git push,

[2014-07-22 18:31] hardieas commented on #35
Field now locked with the pre-populated value and cannot be changed.
Done on my clone; push to dev tba...

[2014-07-22 18:34] hardieas commented on #25
Think this is probably one for Paul M...?

[2014-07-22 19:10] pmackay commented on #26
The only problem with this is that then the title of the page is not shown
in the browser header bar. A better solution might be to hide the title
using CSS display:none.

On Tue, Jul 22, 2014 at 7:26 PM, hardieas notifications@github.com wrote:

[2014-07-23 09:16] djwesto commented on #26
display:none is super-hacky but probably a better temporary fix if the alternative hides the page title in the browser headre.

[2014-07-23 09:17] djwesto commented on #25
Sorry, yes you're absolutely right.

[2014-07-23 14:19] GilesGibson commented on #47
I still cannot see if a vis has a review or not. If it doesn't have one it should say.

[2014-07-23 14:21] GilesGibson commented on #46
It still is not possible to edit a vis. It just dumps you back at the beginning again with everything blank. I realise that this may affect the way the wizard works but it makes it tough to make any small change.

[2014-07-23 14:29] GilesGibson commented on #45
Vis created a week or so ago still don't show - no graphs for instance. Is this needing the old vis to be deleted and new ones created?
I tried creating a new one "housing numbers by ward" and the graph did display. However the graph x-axis is unreadable as the titles will not fit in the space - need to be spun vertical.

[2014-07-23 14:38] GilesGibson commented on #40
I thought that there was meant to be a "clear filters: button that just reset them all. Having to go down along list and re-click each (-) is good if you only want to tweak one but a pain if you want to start again.

[2014-07-23 15:09] GilesGibson commented on #39
will await it being pushed to test

[2014-07-23 19:06] hardieas commented on #47
That I think I can fix...
A
 On 23 Jul 2014 15:19, "GilesGibson" notifications@github.com wrote:

[2014-07-23 21:31] hardieas commented on #39
Have committed all the bug fixes from the Github task list, plsu showing
"No Reviews for this Viz" when there aren't any.
I let Paul M know, so he can do the dev->test push whenever he wants...
A

On 23/07/14 16:09, GilesGibson wrote:

[2014-07-24 08:57] GilesGibson commented on #37
Paul - will this be updated on the next push?

[2014-07-24 08:58] GilesGibson commented on #35
@pmackay please let us know if this will be included in the push.

[2014-07-24 09:37] djwesto opened #49 "Rearrange homepage content"
Move home page content from home page to various other sections:
- Move About text to About page
- Data stories
- Remove Donations
- Add pages for Mentors and Volunteer Developers under About

[2014-07-24 10:53] pmackay commented on #45
Closing because things have changed a lot. New vizzes will need to be created anyway.

[2014-07-24 10:53] #45 closed, assigned to pmackay

[2014-07-24 10:57] pmackay commented on #46
Editing a viz is a separate issue. Can this be closed?

[2014-07-24 10:58] pmackay commented on #40
Can we defer a clear all filter for now?

[2014-07-24 11:00] #16 closed, assigned to GilesGibson

[2014-07-24 11:57] pmackay commented on #18
Closing as many things changed - lets re-evaluate.

[2014-07-24 11:57] #18 closed, assigned to pmackay

[2014-07-24 12:08] hardieas commented on #37
Everything I reverted to Giles on Github plus the show "no reviews found"
was included in the push I did to dev. Have left push from dev to test for
Paul M to do as he may have other updates to push in....
A.
On 24 Jul 2014 09:57, "GilesGibson" notifications@github.com wrote:

[2014-07-24 12:58] pmackay commented on #25
@djwesto Could the secondary title just be removed, that highlights the stage, if the wizard step is hlighlighted in the arrows?

[2014-07-24 13:18] pmackay commented on #22
Fixed on test.

[2014-07-24 15:25] pmackay opened #50 "Remove use of hardcoded DU URL in vizbuilder"

[2014-07-28 17:56] GilesGibson commented on #47
OK, visualisations now indicate if there are any reviews.

[2014-07-28 17:56] #47 closed, assigned to GilesGibson

[2014-07-28 17:58] #46 closed, assigned to GilesGibson

[2014-07-28 18:03] GilesGibson commented on #39
sorry, may be missing something but I cannot see any text. It should show what vis it is you are reviewing.

[2014-07-28 18:09] GilesGibson opened #51 "Graph display all over the place - x-axis not visible, text overlays rest of screen"
test site. Admin user.

When viewing a vis got this:

![image](https://cloud.githubusercontent.com/assets/6060985/3724838/2e96123c-1682-11e4-9325-162f51ba09ad.png)

The metadata is still all over the graph. The x-axis on the graph cannot cope with the text.

[2014-07-28 18:20] GilesGibson commented on #37
nothing fixed as yet. reviews still showing star ratings.

[2014-07-28 18:23] GilesGibson commented on #35
still shows drop down of all the reviews.

[2014-07-28 19:35] dataunity commented on #51
I can comment on the x-axis labels overlap (I can't help with the metadata positioning though). With long text labels you tend to put them on an angle (e.g. slope them at 45 degrees) so they don't run into each other. There's some functionality for this in the renderer, but we would need to add some visualisation editing properties to the viz wizard to set them.

[2014-07-28 20:04] djwesto commented on #51
Gotta link to where this actually is, so we can see it in situ, Giles?

[2014-07-28 20:17] hardieas commented on #35
Field is locked on my site (lcd.ashardie.com) and I thought it was
working on dev.
Features dashboard was showing "Requires Review", so reverted the Field
Instances and StongArm over-rides and now it seems to be working.
Just another Features non-feature...

A

On 28/07/14 19:23, GilesGibson wrote:

[2014-07-28 20:30] hardieas commented on #37
This also is working on my site.
However, the Revert Components performed earlier has not fixed this.
Tried another git push, still not fixed, so it's another Panels/Features
incompatibility,
Have just manually removed the Review field from the Review Content Type
on dev.
A

On 28/07/14 19:20, GilesGibson wrote:

[2014-07-28 20:35] hardieas commented on #39
Confirmed working on dev. Please check.
You have to create a title yourself, but the Viz reference field is
correctly filled out and, now, locked.

On 28/07/14 19:03, GilesGibson wrote:

[2014-07-28 21:09] GilesGibson commented on #51
Apologies, should have done the full link:

\http://test-communitydata.gotpantheon.com/visualizations/housing-numbers-ward

[2014-07-28 21:16] GilesGibson commented on #39
The issue was that there is no indication of the vis that you are writing a review for. Not to be confused with locking off the vis drop down that comes up.

[2014-07-28 21:17] GilesGibson commented on #37
OK, let us know when the test site has been updated.

[2014-07-28 21:21] hardieas commented on #39
But that is the viz you are writing the review for...
Or, perhaps, I've missed something... :-(
A

On 28/07/14 22:16, GilesGibson wrote:

[2014-07-28 21:23] GilesGibson commented on #39
I think that the idea was that it would help the author to remind them of the vis that they were reviewing. At the moment there is no name, no criteria (fields selected), no preview ability etc. You have to write it from memory and are unable to save it as you go and then go back and update/edit etc.

[2014-07-28 22:30] hardieas commented on #39
Doh! Think you are talking about the Viz itself, not just the name,
passed through in the (now) locked viz name field, yes...?
Perhaps, I missed this in a wireframe somwehere...?
Partial save could be done as "Save as Unpublished", I suppose, with a
view of unpublished reviews, e.g. "My Unfinished Reviews"...
A

On 28/07/14 22:23, GilesGibson wrote:

[2014-07-29 11:39] djwesto commented on #43
Oh I see... My bad. What would I use such a permalink to a specific comment _for_? Is it so I can reply to it somehow, perhaps on my own blog?

I can restyle this to sit more comfortably in the comment layout.

[2014-07-29 12:00] GilesGibson commented on #43
If the idea is to share the vis then the button needs to say "share" not permalink. I am still unsure what permalink actually means.... someone please enlighten me...

[2014-07-29 14:28] djwesto commented on #9
Is this fixed now? Please can you check, Giles? I can't figure out what the problem is. Assuming you meant that you're in the /visualizations page, this is what I see on this page now:

![image](https://cloud.githubusercontent.com/assets/702685/3736311/7e1caa82-172c-11e4-9a93-6762fc89581c.png)

[2014-07-29 14:50] GilesGibson commented on #9
Yes, it was "fixed" a while ago although I do note that your example shows the vertical alignment problem of the right hand column not all following the same margin on the left when the title of the vis is long.

[2014-07-29 16:32] djwesto commented on #42
The layout of these controls is still not right but now it looks like this.

I can't for the life of me figure out how to wrap Bootstrap classes around any of these elements to make them look and behave like buttons so I'm reassigning this to @pmackay.

![image](https://cloud.githubusercontent.com/assets/702685/3736344/e18d6a98-172c-11e4-953c-3333835e48d4.png)

And, in case it's useful, here's how

[2014-07-30 08:06] djwesto commented on #9
This problem is occurring because we can't wrap each element in a div that could have a fixed width defined for it. @pmackay do you have any suggestions for how this could be resolved without divs?

[2014-07-30 09:24] pmackay commented on #9
They are actually now wrapped in a div - I grouped those together by inserting the field values into a separate free text field.

[2014-07-30 17:14] djwesto commented on #42
One thing I've just noticed, now I'm working on a fix for this issue is that we seem to have two "Save as favourite" flag links working here which is obviously not what we want. I think I'm going to need @pmackay to set up the correct flags because I'm not sure how they should be configured.

[2014-07-30 17:22] hardieas commented on #42
Seem to remember pointing this out ages ago.
Is this another instance of "was fixed, now is back again"...?
A

On 30/07/14 18:14, Chris Wells wrote:

[2014-07-30 21:15] GilesGibson commented on #34
did this get pushed to dev?

[2014-07-30 21:17] GilesGibson commented on #33
Has this been pushed to dev/test yet?

[2014-07-30 21:18] GilesGibson commented on #32
pushed to dev/test yet?

[2014-07-30 21:19] GilesGibson commented on #31
Has this gone to test yet?

[2014-07-30 21:23] GilesGibson commented on #22
alignment issue with right hand column but this has been raised in another issue.

[2014-07-30 21:23] #22 closed, assigned to GilesGibson

[2014-07-30 21:24] GilesGibson commented on #17
awaiting github push.

[2014-07-30 21:32] GilesGibson commented on #11
gone to edit the metadata and there is no OV field now visible. I assume that this has been solved.

[2014-07-30 21:33] #2 closed, assigned to GilesGibson

[2014-07-31 06:41] hardieas commented on #17
Dear all

There's something weird going on here.

All the things Giles is quite rightly pointing out that aren't working
on dev but which are working on my clone http://lcd.ashardie.com (Giles:
pls check) were pushed to dev on 23rd Jul, including the last-minute one
about indicating when a Viz has no reviews.
Checking the Features status page (admin/structure/features) on both
sites shows the modu

[2014-07-31 07:25] pmackay commented on #17
Annoyingly Panels does not save Panel individual content panel panes in Features. I have to do custom content elements like this with Blocks.

[2014-07-31 10:56] #50 closed, assigned to pmackay

[2014-07-31 11:15] pmackay commented on #35
@hardieas how did you lock it down?

[2014-07-31 11:16] pmackay commented on #33
Working on test.

[2014-07-31 11:17] pmackay commented on #34
Works on test.

[2014-07-31 11:25] pmackay commented on #31
Works on test.

Shows error:

`Notice: Undefined index: entityform in recently_read_entity_view() (line 40 of /srv/bindings/6f392842c8de4015b82da6f48b265c0d/code/sites/all/modules/contrib/recently_read/recently_read.module).`

Any idea @hardieas ?

[2014-07-31 12:35] djwesto commented on #25
Yep. That would work too. Good call.

[2014-07-31 12:48] pmackay commented on #39
I assume this means seeing the viz when writing the review. Currently the Review is a standard node edit form. It will be somewhat complex to embed the viz into it, so would like to defer this for now. It might have been easier to have Reviews be editable via an inline form on the Viz page.

[2014-07-31 13:06] pmackay commented on #26
Fixed on test.

[2014-07-31 13:07] pmackay commented on #11
Fixed on test.

[2014-07-31 13:08] pmackay commented on #37
Fixed on test.

[2014-07-31 13:13] pmackay commented on #29
@dataunity what do we need to do to resolve this Kev?

[2014-07-31 14:32] dataunity commented on #29
Count is an actual field in the returned data, so I propose we leave it in. It's a field that's generated by the pipeline.

[2014-07-31 14:39] pmackay commented on #29
But its not there initially, so is it odd that it appears to the user?

On Thu, Jul 31, 2014 at 3:32 PM, Data Unity notifications@github.com
wrote:

[2014-07-31 15:54] dataunity commented on #29
Is it something that you've added @pmackay? There's no DataStructureDef ('structure' property) created for generated DataTables at the moment and it's not in the original DataTable's DataStructureDef so don't actually know where the field is coming from.

If it's not generated by you would be good to know a specific DataTable that it's happening with to investigate further.

[2014-07-31 17:24] hardieas commented on #35
Go to Admin, Structure, Content Types, Review, Manage Fields, Visualization, Additional Behaviours - under Entity Reference Prepopulate checkbox there is an Action selector - choose disable field.

[2014-08-01 06:17] pmackay opened #52 "Aggregate method radio buttons need two clicks for visible change"
If the they are coded in a way that allows the value to be saved, they seem to need 2 clicks inside a repeating section. The first click changes the value but does not highlight the clicked button.

[2014-08-01 13:12] pmackay opened #53 "Spinning icon does not appear in wizard if gone back and then forward again"

[2014-08-01 14:08] pmackay opened #54 ""Source" field in dataset list is not defined"
I'm not sure exactly what this should be. Suggestion is that it shows the name of the data portal.

@GilesGibson how does that sound?

@dataunity can we get that information as a field?

[2014-08-01 14:17] pmackay commented on #30
@dataunity @GilesGibson do you know which exact dataset this was and how we add it back into DU? Need to recreate.

[2014-08-01 14:38] dataunity commented on #30
@pmackay @GilesGibson I've just re-added it via the Hydra interface so it should be available in COD under "Showing the locations of registered Houses in Multiple Occupation (HMOs)...".

Source:
http://5.101.100.119/dataset/registered-houses-in-multiple-occupation-hmos/resource/66a16be4-b2da-47d9-8e9d-8b00d3bb0ca6

[2014-08-01 18:11] hardieas commented on #39
Might the simplest solution, at least for now, to be to have the "Write a Review" link open a new window, so both the Review and the Viz are visible at the same time...?

[2014-08-02 10:45] pmackay commented on #10
@GilesGibson with recent layout changes this is now resolved. Please confirm.

[2014-08-02 12:32] pmackay commented on #35
Fixed on test.

[2014-08-02 12:41] pmackay commented on #43
@GilesGibson permalink gives you a link directly to that comment that you could use elsewhere. So say you want to post a link to a comment on a viz, rather than just the viz, you could use that link.

Can you confirm if you would like to keep the permalink link there?

[2014-08-04 09:11] pmackay commented on #29
Fixed on test.

[2014-08-04 09:13] pmackay commented on #25
Fixed on test.

[2014-08-04 09:14] pmackay commented on #19
Fixed on test. Needs more general testing though.

[2014-08-04 12:37] pmackay opened #55 "Fix mapping of wizard types to taxonomy term values"

[2014-08-04 13:08] djwesto commented on #44
I have started work on a fix for this set of problems relating to the Comments display.

Comments now display like this:

---

![image](https://cloud.githubusercontent.com/assets/702685/3797389/3e683310-1bd8-11e4-8a6f-bd661e3b5281.png)

Please could you let me know what you think, @GilesGibson ? Thanks

[2014-08-04 15:03] djwesto commented on #42
Sorry Andrew, if you did point it out, it hasn't been fixed yet.

---

![image](https://cloud.githubusercontent.com/assets/702685/3798792/235bb640-1be8-11e4-932c-d37d1936d7af.png)

@pmackay, you mentioned that this panel is supposed to contain the "node links". Please could you add a link to this thread pointing to the page in the admin area where I can edit this panel's contents?

[2014-08-04 15:16] djwesto commented on #6
This arrangement of buttons now looks like this which is obviously still wrong but now styled using Bootstrap styles:

---

![image](https://cloud.githubusercontent.com/assets/702685/3798955/7b17600e-1be9-11e4-918a-1bee2b60395b.png)

[2014-08-04 20:37] hardieas commented on #42
Think the problem goes like this...
The "Node Links" pane does what it says on the tin and displays the links TO this node, which includes both Flag as Favourite and Flag as Abuse, thus duplicating the separate Flag of Favourites pane.
If you don't mind Favourite and Abuse coming out next to each other, just delete the Flag of Favourites pane. If you want/need them to be separate, delete the Node

[2014-08-05 15:38] GilesGibson commented on #54
@pmackay @dataunity I would be happy to have the site name of the source i.e. the CKAN site.

[2014-08-05 16:03] dataunity commented on #54
@pmackay given the information we can get through CKAN, perhaps the publisher name would be the most appropriate to use here? This available in the JSON-LD via: <pre>dataset.publisher.label</pre>

http://lambeth.dataunityapp.com/api/beta/datatables/schools/sources-datasets

It's possible this information wont exist (if it can't be fetched from CKAN) so it would be good to check it exists before wr

[2014-08-05 16:25] GilesGibson opened #56 "Vis page layout alignments"
Test site.
logged on as admin

The alignment of the vis page is a bit wonky. Descriptions of vis wrap to the extreme left hand margin on some vis, others wrap under the description area.

![image](https://cloud.githubusercontent.com/assets/6060985/3813915/14a0e1fa-1cb7-11e4-8ebd-472739bf0101.png)

[2014-08-05 16:26] GilesGibson opened #57 "menu bar tab order"
test site
admin user.

Should "about" have been moved to the end? Can we get this menu bar in the right order as discussed in our meetings. Ta.

![image](https://cloud.githubusercontent.com/assets/6060985/3814649/2a09d118-1cbd-11e4-90b3-697400dd5683.png)

[2014-08-05 16:30] GilesGibson commented on #43
I still don't know what the phrase "permalink" means. If I don't understand it then there is also the good chance that a user will not have any idea what it is about either. We need to be careful about the language we use on the buttons.

[2014-08-05 16:34] GilesGibson opened #58 "menu bar tab order"
test site
admin user.

Should "about" have been moved to the end? Can we get this menu bar in the right order as discussed in our meetings. Ta.

![image](https://cloud.githubusercontent.com/assets/6060985/3814649/2a09d118-1cbd-11e4-90b3-697400dd5683.png)

[2014-08-05 16:35] GilesGibson opened #59 "Edit label text on OpenVis wizard steps controls"
Initial feedback from users who have tried to create a vis is that they dont understand the expressions that you have used to prompt for the map options:

![image](https://cloud.githubusercontent.com/assets/6060985/3814791/56bece4c-1cbe-11e4-8859-cf63276d8d0a.png)

We need to come up with better descriptions so people get a hint as to what it is about.

[2014-08-05 16:40] GilesGibson opened #60 "Change styling of OpenVis wizard steps"
test site.
admin user

The wizard bar looks like it should be active. However, it does nothing when clicked on.

I think if we are to have a wizard bar that looks like a wizard bar then it should behave like a wizard bar. If it is just a "what step of the process are you on" type bar then it needs to look like one.

![image](https://cloud.githubusercontent.com/assets/6060985/3814870/36204a0c-1cbf-

[2014-08-05 16:45] GilesGibson opened #61 "How many vis on home page?"
Is there a limit on the number of vis displayed on the home page? Will there be the usual "more..." option or "page 1 of 20" etc?

![image](https://cloud.githubusercontent.com/assets/6060985/3814947/dce61eca-1cbf-11e4-825c-8a3f0bcff2a1.png)

[2014-08-05 16:47] djwesto commented on #43
I've taken this on. @pmackay & I just agreed that we should just remove it entirely from the interface for now until we can agree on how to label it. Perhaps eventually we could do what Twitter does and wrap the link to the comment around the date and time text and then have a pop-up which appears when you role over that text which says

[2014-08-05 16:49] GilesGibson commented on #43
its just a question of the phrase used to describe the feature. Permalink may be familiar for techies but users have no idea. If the functionality is there then lets keep it but call it something understandable.

[2014-08-05 17:02] GilesGibson opened #62 "Dashboard page - no top line menu"
test site
admin user.

On the dashboard page there is no normal top line menu. ONly option to go from the dashboard page is to go "home"

![image](https://cloud.githubusercontent.com/assets/6060985/3815186/2f4d9a06-1cc2-11e4-951b-765c2d2a7474.png)

[2014-08-05 17:04] GilesGibson opened #63 "Home page - buttons not working"
test site
admin user.

Home page - large buttons still do nothing. Had user confusion complaints about this. We were going to split this page with the lower section moving to "about". However, if we show buttons that jump to existing screens on the site then they should work or say "feature coming soon" type of thing.

[2014-08-05 17:08] GilesGibson opened #64 "Star rating on vis page - not responding"
test site
admin user.

I clciked on a vis. Then on that vis page I tried to clcik on the star rating to rate it myself. It wouldn't respond. Is that because I amy have already rated it or is it broken?

Also there is a large grey button there with no description and is out of scale to its surroundings.

![image](https://cloud.githubusercontent.com/assets/6060985/3815278/fbdbcb7e-1cc2-11e4-8b4d-190

[2014-08-05 17:18] djwesto commented on #64
@pmackay I think we need to pull across the work I've been doing on -dev into -test now. These issues are quite old and have been resolved on -dev now.

[2014-08-05 17:31] djwesto commented on #62
I will try to investigate this but I think it's probably a @pmackay issue...

[2014-08-05 18:18] djwesto commented on #43
Hmmm... Thing is, it's a _"permanent link"_ to the comment, which is enabled so that anyone can link to the comment in their own comment or anywhere else they want – on another blog or platform...

Perhaps we could try **"Link to this"**

[2014-08-05 18:20] GilesGibson commented on #43
that may be better. I haven't come across a user who knows what a permalink is outside of the techies arena.

[2014-08-05 18:29] djwesto commented on #61
@pmackay Do you think we could have an infinite scroll on the home page with something like https://www.drupal.org/project/views_infinite_scroll or would that demand too many resources?

[2014-08-05 18:32] djwesto commented on #58
Giles, any reason why you decided to close this issue?

I was hoping to maybe look over the menus soon with an eye to matching this from the styleguide:

![image](https://cloud.githubusercontent.com/assets/702685/3816433/79c24670-1cce-11e4-80ee-c084abb5b5fb.png)

(link to live version: http://folklabs.github.io/communitydata-styleguide/viz-id-1/)

However, I recall Andrew and @pmackay were against

[2014-08-05 18:34] djwesto commented on #60
So, if @pmackay comes back and says we can't have clickable wizard steps because of the linear nature of steps 1-3 (for example), I'm guessing from your comment that you'd want the steps to look less like links – perhaps they'd be in a subtler colour with step numbers next to them? And perhaps the highlighted active step ("Select datasets" in the screenshot above) would not be as prominent as it i

[2014-08-05 18:43] djwesto commented on #59
Here are a few suggestions:

"Assign a column to the Latitude visualization field" might read better as:

Paul, is there a file with all these phrases in which I might be able to play with?

[2014-08-05 18:45] djwesto commented on #43
OK, I'm re-naming this issue to be _Re-label "permalink" to read "link to this"_

[2014-08-05 19:00] GilesGibson commented on #60
spot on. Be good to have a "go back a step" button as well.

[2014-08-05 19:00] hardieas commented on #58
I've only ever used SuperFish with AdaptiveTheme-based themes, esp my fave Mix & Match, never with Bootstrap. Also, there are reports of problems with SuperFish and Panels but (I think) only when trying to put a SuperFish menu into a Pane, as opposed to it being in the surrounding page (e.g. the top menu bar. So, it seemed an unnecessary extra layer of complexity if multiple cascading menu blocks

[2014-08-05 19:01] GilesGibson commented on #58
I closed this one as I couldn't find the delete button for an issue. For some reason the issue got added twice.

[2014-08-05 19:02] GilesGibson commented on #43
great, lets see what feedback we get from the users.

[2014-08-05 19:36] pmackay commented on #60
Duplicate of #8?

[2014-08-05 19:42] pmackay commented on #59
Duplicate of #2, which was closed.

The phrases are in the vizbuilder project:

https://github.com/folklabs/vizbuilder/blob/master/app/scripts/services.coffee#L250

https://github.com/folklabs/vizbuilder/blob/master/app/views/select-columns.haml#L16

[2014-08-05 19:43] pmackay commented on #57
Duplicate of #58.

[2014-08-05 19:43] #57 closed, assigned to djwesto

[2014-08-05 19:45] pmackay commented on #61
@djwesto do we need infinite scroll? I'd be wary unless it offers real benefit.

[2014-08-05 19:52] pmackay commented on #62
This is a backend admin user dashboard, so has a completely different theme. Should the dashboard link be there at all?

[2014-08-05 21:15] djwesto commented on #43
OK, I've used the settings.php file to override this string so it now reads "Link to this":

---

![image](https://cloud.githubusercontent.com/assets/702685/3818908/33ca16e0-1ce5-11e4-856a-3143636ba57b.png)

It's only currently in -dev right now but can be pushed to -test when we next blend the instances. Please take a look on -dev, @GilesGibson. Here's the -dev page: http://dev-communitydata.gotp

[2014-08-05 21:15] #43 closed, assigned to djwesto

[2014-08-06 05:39] hardieas commented on #61
Ditto, esp if images are slow to load...

[2014-08-06 08:47] djwesto commented on #42
Cheers @hardieas! I think I'll give that a go... It all seems somewhat frustrating and inflexible to not be able to easily tweak what's appearing in each pane. But I think if we swap in that new pane you suggest, it might improve matters.

[2014-08-06 09:12] djwesto commented on #62
No, if it doesn't take users to the dashboards browser page then it shouldn't be there at all.

Besides, I think this is now fixed after we updated to Bootstrap theme. @GilesGibson please check and confirm whether this can be closed.

[2014-08-06 09:17] GilesGibson commented on #62
I still get the dashboard menu item and it still goes to the dashboard area as before.

[2014-08-06 09:46] djwesto opened #65 "Rearrange Drupal menu structure to match styleguide"
So this layout:

![image](https://cloud.githubusercontent.com/assets/702685/3824944/60344d04-1d4e-11e4-8d77-2ceb68f9c598.png)

... is changed to match this layout:

![image](https://cloud.githubusercontent.com/assets/702685/3824953/7897fd0a-1d4e-11e4-9d3f-840054f33d17.png)

[2014-08-06 09:49] dataunity opened #66 "Switch test site to use Lambeth Data Unity instance"
The test site has reverted to the old Data Unity instance, can it be switched to the new version please?

[2014-08-06 10:08] GilesGibson commented on #65
OK, if it matches the design then great. Maybe the tabs that don't do anything yet could just be filled with a coming soon page with some tempting made up screen shots or similar from the Wireframes?

[2014-08-06 10:08] pmackay opened #67 "Error on saving visualizations"
![560252fb-4242-4fd9-8da2-697b6ffef3d4](https://cloud.githubusercontent.com/assets/115115/3825209/9115caee-1d51-11e4-9e24-dc2cce456ec2.png)

[2014-08-06 11:47] #66 closed, assigned to nobody

[2014-08-06 11:50] djwesto commented on #65
I'm just looking at what I think is the "Add dataset" page on http://lambeth.dataunityapp.com/# but I think it's some sort of javascript-generated page without its own URL so I don't think I can link directly to it from the "Add" menu on the Drupal end. @dataunity Is there any sort of direct URL link I could provide to take users straight to this page where they can add their own datasets?

Or sho

[2014-08-06 12:15] dataunity commented on #65
@djwesto this is the Hydra client. It's an embedded client that can be remotely updated over time as new features get added to Data Unity. There's several choices to be made when adding a dataset (e.g. where it comes from) which is why there are several steps. There's only one option at the moment so there's a bit of clicking through, but they will expand to more choices in the future.

I've added

[2014-08-06 14:01] djwesto commented on #65
OK, cheers Kev. I'll just leave it as a basic link to the lambeth @dataunity page for the time being, until Paul sorts this on our side.

[2014-08-06 14:56] djwesto commented on #62
I've removed the dashboard link from my latest fixes for the top nav menu which I'm going to push once I figure out how to export it in the OV Admin Feature. Waiting for some feedback from @pmackay on how to do that.

[2014-08-06 15:03] djwesto commented on #59
So, you're saying you'd be happy for me to change the strings in these files and recommit them to the repo?

[2014-08-06 15:45] djwesto commented on #57
OK, I've changed the tab order to match the style guide. Can't get the blasted thing to export into a Feature but am hoping @pmackay can help with that soon and then you'll be able to see the improved menu setup.

[2014-08-06 17:23] pmackay commented on #67
@GilesGibson can you say what kind of viz you were trying to create when you got this error?

Or could you try to reproduce on test?

[2014-08-06 18:12] pmackay commented on #60
Assigned to @djwesto as I dont know what styling is needed to look more or less like a wizard bar. But I did make improvements in #8.

[2014-08-06 18:13] pmackay commented on #61
@GilesGibson we can add the more link. Do you have a preference of how many are shown on each page?

[2014-08-06 18:24] djwesto commented on #61
Alternative is pagination which is also absolutely fine and can look lovely.

[2014-08-06 18:56] GilesGibson commented on #61
I had assumed we would do the more, previous type of thing, as discussed at Hub westminster. Up to @djwesto as to how many are in each page - a stylee type of thing.

[2014-08-06 19:09] pmackay commented on #30
@dataunity do you have a sense of why the chart is much higher than the available space?

[2014-08-06 19:39] djwesto commented on #65
Right, I've finally got these blasted menu layouts working – @GilesGibson please take a look on the http://live-communitydata.gotpantheon.com/ instance to see them now working and test them out. We can add other items to the User menu once they're built.

[2014-08-06 19:58] dataunity commented on #30
Sometimes this happens because the value column doesn't contain a number, but that doesn't seem to be happening here.

I'm not sure, but potentially it's to do with the apostrophe's in the data. The data is below:

WARD,max
 Streatham Wells,11
Bishop''s ,5
Bishops''s,6
Brixton Hill,16
Clapham Common,28
Clapham Town,10
Coldharbour,11
Ferndale,29
Gipsy Hill,23
Herne Hill,14
Knight''s Hill,18
Larkhal

[2014-08-06 20:23] pmackay commented on #30
@dataunity  But how would that cause the long bars going vertically?

[2014-08-06 20:35] dataunity commented on #30
It shouldn't do, but potentially the escaping is causing the renderer some problems. The escaped apostrophe is the only thing I can spot in the data which looks out of place (in the source data the apostrophe is unescaped).

[2014-08-06 20:37] dataunity commented on #30
Is there any way of seeing the VizShare being generated to check that the field references match up with the data?

[2014-08-06 21:15] djwesto commented on #62
So @GilesGibson, please review this issue with the Administration Menu is no longer happening.

[2014-08-07 03:22] pmackay commented on #30
I've built this http://live-communitydata.gotpantheon.com/visualizations/bc-1

[2014-08-07 07:36] pmackay commented on #64
@GilesGibson yes I think if you have rated before, it then freezes the stars.

@djwesto this pane is improved compared to screenshot but still some work to be done.

[2014-08-07 07:36] #64 closed, assigned to pmackay

[2014-08-07 07:49] pmackay commented on #61
@GilesGibson I've checked and a pager should be setup, but we probably need to test with >10 vizzes!

[2014-08-07 08:03] hardieas commented on #61
If you are talking about the Visualizations page, looking on test, here:
http://test-communitydata.gotpantheon.com/admin/structure/views/view/openviz_facets/edit/panel_pane_6
There is a 10-item pager setup.
The real Home Page on test has no viz's...
Or, am I looking in the wrong place...? :-(

[2014-08-07 10:14] pmackay commented on #54
Fixed on dev.

[2014-08-07 10:16] pmackay commented on #30
@dataunity does this above chart help? Dont want to take loads of your time. Would it be worth me cleaning the data and uploading as a separate dataset?

[2014-08-07 13:01] pmackay commented on #51
Duplicate of #30.

[2014-08-07 13:01] #51 closed, assigned to pmackay

[2014-08-07 17:02] djwesto opened #68 "CTools error on new node content page"
On test
Logged in as admin

Just had this come up as I published a new content page:

![image](https://cloud.githubusercontent.com/assets/702685/3845608/75823246-1e54-11e4-8865-0ef7903bde08.png)

Here's the full error text:
Notice: Trying to get property of non-object in ctools_entity_field_content_type_admin_title() (line 271 of /srv/bindings/6f392842c8de4015b82da6f48b265c0d/code/profiles/panopol

[2014-08-07 17:53] pmackay opened #69 "autocomplete_deluxe needs fixing to work with latest jQuery, Bootstrap"
For now it has been disabled.

[2014-08-07 18:17] #54 closed, assigned to nobody

[2014-08-07 18:20] pmackay commented on #68
Tried to create a content page, didnt get this. @djwesto can you describe steps to reproduce?

[2014-08-08 08:40] djwesto commented on #25
@GilesGibson is this now OK for you? If so we can close.

[2014-08-08 14:05] GilesGibson opened #70 "vis page layout awry"
test site
admin user.

Went to edit the metadata on the battery recycling map. Got these two issues:

![image](https://cloud.githubusercontent.com/assets/6060985/3857592/ee379608-1f04-11e4-84b1-f019b114266d.png)

and also:

![image](https://cloud.githubusercontent.com/assets/6060985/3857598/fd5ddbc4-1f04-11e4-9ee5-d1ae1a74103f.png)

[2014-08-08 14:10] pmackay commented on #70
I think the buttons layout is just related to the amount of space they have across the column.

The title bar might be a mix of Panopoly CSS that makes the title text larger, but the Bootstrap theme that overrides and sets the title input field box to regular height (Panopoly by default makes it taller). But thats just a guess.

[2014-08-08 14:19] GilesGibson commented on #70
so are these @djwesto issues?

[2014-08-08 14:28] GilesGibson opened #71 "adding datasets"
logged in as admin

This may be a lack of knowledge issue but...

I could not see on the Lambeth CKAN site how to add a dataset to it.

http://5.101.100.119/dataset

I tried to use the DU utility via the "add dataset" menu item on the drop down. I entered the url of the CKAN site (as above). Got error 500 as the response.

Is there a way of adding in any guidance text to users so that it is easier

[2014-08-08 14:46] pmackay commented on #70
Me or Chris.

[2014-08-08 14:46] dataunity commented on #30
@pmackay I've fixed the bar heights issue in the VizShare renderer. Please can you grab the latest copy of the renderers js file:

https://github.com/dataunity/vizshare/blob/master/lib/vizshare-renderers-0.1.0.js

Basically the issue was that the fields to parse as numbers have to be specified as a javascript object. The key was set to a variable containing the field name, but js was turning the v

[2014-08-08 14:51] dataunity commented on #71
To add datasets you need to navigate to the dataset view in CKAN and use that url, e.g:

http://5.101.100.119/dataset/lambeth-schools/resource/5bdabbe3-208f-4bd6-a731-bab52b0a8fa0

It's important that the dataset can be viewed as a spreadsheet (with column headings in the first row) and that it's a CSV file (as shown in the link above). Otherwise the dataset will need cleaning before it can be add

[2014-08-08 17:51] djwesto commented on #65
Closing this as it is now up on live- in Pantheon: http://live-communitydata.gotpantheon.com/

![image](https://cloud.githubusercontent.com/assets/702685/3860473/8e5f4076-1f24-11e4-8435-dfc3acd3941e.png)

[2014-08-08 17:51] #65 closed, assigned to djwesto

[2014-08-08 17:53] djwesto commented on #63
This is now fixed. I am reassigning to @GilesGibson for a check to confirm it is now working.

I have also added content pages which explain what each of these pieces is about now. The only one I have left for now is "Share":

![image](https://cloud.githubusercontent.com/assets/702685/3860492/cd5b7e20-1f24-11e4-923c-c8e4dde82e0c.png)

I don't know what to do with this panel as it doesn't quite mak

[2014-08-08 17:54] djwesto commented on #62
Reassigning and waiting for urgent update from @GilesGibson

[2014-08-08 18:01] djwesto commented on #49
Reassigning to @GilesGibson now because this is now complete (after a whole pile of Panopoly pain – literally, it's given me RSI). Please review the layout and content and, if you wish to, you can click the "Customise this Page" button at the bottom of the screen to adjust the content or layout of the page.

I am going to experiment next week with the equalheights module which I'm hoping will let

[2014-08-08 18:03] djwesto commented on #25
Looks fixed to me so I'm closing this one. @GilesGibson please let us know if you disagree.

[2014-08-08 18:03] #25 closed, assigned to GilesGibson

[2014-08-09 08:03] pmackay commented on #71
@GilesGibson I assume you mean adding datasets to DU? Which one did you try? Was it visible as a table in CKAN?

[2014-08-09 08:07] #58 closed, assigned to nobody

[2014-08-09 11:48] GilesGibson commented on #63
I think that we just need to say that apart from sending a URL the ability to do internal prodding and poking to other users will be coming later.

[2014-08-09 12:05] GilesGibson commented on #62
OK, now cannot "see" the option for dashboards the way it was. Thanks

[2014-08-09 12:05] #62 closed, assigned to GilesGibson

[2014-08-09 12:05] GilesGibson commented on #61
will start creating

[2014-08-09 12:11] GilesGibson commented on #49
Chris - thanks for this. All working better and OK for the v 1.0. If we can get the "share your vis" to have text along the lines discussed in the other github issue then great. Aligning them all horizontally would be good but not critical.

text above Dashboards needs to be completed.

Text in "develop plugins" - lose the latin. Ditto "deploy your own COD. Ditto "join the team"

[2014-08-09 12:13] GilesGibson commented on #44
comments have now lost the "report abuse" button.

[2014-08-09 12:17] GilesGibson opened #72 "Reviews still have option to add comments"
test site
admin login.

At the bottom of the write a review - below the categories etc. There is still the option to switch on or off comments. I am uncertain if we are having comments on reviews. .

![image](https://cloud.githubusercontent.com/assets/6060985/3866074/06ca7a4a-1fbf-11e4-896c-d3a7fd9ba8d8.png)

[2014-08-09 12:21] GilesGibson commented on #35
Just tried writing a review - issue still there:

![image](https://cloud.githubusercontent.com/assets/6060985/3866081/a075f48a-1fbf-11e4-8b2e-1f418be28ade.png)

[2014-08-09 12:24] GilesGibson opened #73 "Button allignment on review creation"
Test site
admin user.

The "provide a menu link" button and "create new revision" buttons seem too close to the main body of text. Should they be aligned under their titles above?

![image](https://cloud.githubusercontent.com/assets/6060985/3866086/0dc1ecba-1fc0-11e4-83c5-f6ddbf0cca92.png)

[2014-08-09 12:27] GilesGibson opened #74 "review missing creation date"
test site
admin user

Created a review. Creation date is missing the date, just shows the time. Ditto revision field.

![image](https://cloud.githubusercontent.com/assets/6060985/3866095/7f6db13c-1fc0-11e4-9d46-23df2381b553.png)

[2014-08-09 12:29] GilesGibson opened #75 "Vis starting to blur together on vis page"
test site
admin user.

The list of vis have no gaps between them. Need to keep each vis and its text separate. Maybe separating line/gap to delineate each one?

![image](https://cloud.githubusercontent.com/assets/6060985/3866099/c6a775c4-1fc0-11e4-9957-2ef457cf9781.png)

[2014-08-09 13:54] pmackay commented on #30
Fixed on test. See http://test-communitydata.gotpantheon.com/visualizations/bc-1.

@dataunity thanks for the vizshare fix!

[2014-08-09 13:55] pmackay commented on #75
Fixed on test.

[2014-08-09 14:10] pmackay commented on #72
I think this is only visible as admin.

[2014-08-09 14:10] #72 closed, assigned to pmackay

[2014-08-09 16:33] pmackay commented on #74
Fixed on test.

[2014-08-09 16:33] #37 closed, assigned to pmackay

[2014-08-09 16:34] pmackay commented on #35
Fixed on test.

[2014-08-09 17:06] pmackay opened #76 "Improve error checking of viz rendering"

[2014-08-10 15:20] GilesGibson commented on #75
some of the creation dates and "updated dates" are not wrapping correctly.

![image](https://cloud.githubusercontent.com/assets/6060985/3869681/e39fb72c-20a1-11e4-9460-dea9b953efbc.png)

[2014-08-10 15:24] GilesGibson opened #77 "Error when writing a review"
test site
admin user

viewed a vis "number of lines by ward..." one. Clicked on write a review, got this:

![image](https://cloud.githubusercontent.com/assets/6060985/3869689/5ba8fb98-20a2-11e4-990e-ad4009402880.png)

[2014-08-10 15:27] GilesGibson commented on #35
still seems to be there for me.

[2014-08-10 15:31] GilesGibson commented on #72
can I set up some new users, a plain one and a mentor one so I can check how things are?

The main point was that I was uncertain if comments were going to be available at all for a review, not just for a mentor.

[2014-08-10 15:40] GilesGibson commented on #30
can we fix the problem of the x-axis being overlapped when there is too much data? Rotate labels to vertical?

[2014-08-10 16:04] pmackay commented on #30
@dataunity can you suggest how long the angled labels would take to implement?

[2014-08-11 13:36] GilesGibson commented on #67
Both myself and Liz were trying to create a vis using the Lambeth dataset for recycling. It would not allow us to publish the vis or to save it as a draft.

[2014-08-11 13:52] djwesto commented on #68
I'm really sorry I didn't put in more detail to this issue. I will need to go through the process again and I'm also not sure whether I had devel_themer module running at the time, which has been causing a lot of errors... I'll try to reproduce it again.

[2014-08-11 13:59] djwesto commented on #70
So shall we try to break this line of buttons to push two of them down onto a second line and space them out better?

At first glance I wonder if it might make sense to have it like this:

SAVE  |  UNPUBLISH  |  PREVIEW

VIEW CHANGES  |  DELETE

That'll require the least amount of tweaking to the order of buttons and hopefully just require us to turn over the line breaking between PREVIEW and VIEW

[2014-08-11 14:04] GilesGibson commented on #70
should the text be "save" and "unpublish"? Are they the opposites? if so should it be "publish" and "unpublish"? Not sure what the naming convention is here.

What is the difference between view changes and preview?

As they go to two lines anyway we may as well spread them evenly.

Can we sort out the main title box too?

[2014-08-11 14:08] djwesto commented on #73
Yes, they should be. I will try to fix this... I looked at it earlier and it's not entirely clear where that style is being generated...

[2014-08-11 14:30] GilesGibson opened #78 "Write documentation on how to add datasets to Community Data"
Apologies but I am having severe problems trying to figure out how to add a dataset to COD. I believe that I have to add it to the Lambeth CKAN site first. I have managed to upload the lambeth bus stops location datafile (taken from the google shared drive of datasets). I think it is there but I am unsure how I can make it appear under Lambeth organisation dataset rather than just on the list I ha

[2014-08-11 14:35] GilesGibson opened #79 "Dashboard screen layout"
test site
admin user.

The add a dashboard screen - left hand side a bit wonky and not aligned.

![image](https://cloud.githubusercontent.com/assets/6060985/3877292/86d5df08-2164-11e4-81e9-64e3a43e1853.png)

Title box also overwritten again.

Not sure why the option of allowing comments is there either?

[2014-08-11 14:41] djwesto commented on #78
Might this be a good time to start creating some documentation tasks and a small _Help_ section on the main site?

Of course, we could also do with fixing any interface label text that's not clearly explaining how to do this task.

[2014-08-11 14:50] GilesGibson commented on #78
yes, some help text on the add dataset screen would be good. In the mean time, any clues so I can actually add something to COD would be welcome. We need to fix this so test users can populate the site.

[2014-08-11 14:51] dataunity commented on #78
@GilesGibson Could you paste the exact dataset url you're using here please and I'll take a look.

[2014-08-11 14:52] pmackay commented on #78
@GilesGibson when you add a dataset to CKAN, are you able to see the data rendered as a table properly? If not, its not parsing it properly inside CKAN (which is required for DU to read it).

[2014-08-11 15:06] dataunity commented on #78
The instructions for adding files from CKAN are on Slack (step 4 can be swapped to our new url on COD):

https://communityopendata.slack.com/files/kev/F02ES54BS/adding_a_ckan_datatable_via_data_unity

Looking at the Lambeth Bus Stops dataset, it doesn't look like it's a CSV file, and it can't be previewed in CKAN so it wont be addable to DU in the current state.

[2014-08-11 15:16] GilesGibson commented on #78
@pmackay when you uploaded/downloaded from the Lambeth web site all the datasets were they csv files? Not able to preview in CKAN.

@dataunity thanks for the text guide. @djwesto can we add most of this to the add dataset page as a guide for users. A screen shot of the CKAN example of where to preview a csv file would also help.

[2014-08-11 15:21] pmackay commented on #78
Most but not all are CSV files. The rest are .json files. The extension should show that. I dont know about the quality of the CSV data though.

[2014-08-11 15:31] GilesGibson commented on #78
Google being Google is not showing easily what type of file it is apart from saying it is a spreadsheet. Is there an easy way of finding out? Details don't show this, when I click on it Google just shows it as a spreadsheet, cannot figure out how to get it to show the filetype.

[2014-08-11 15:35] dataunity commented on #78
@GilesGibson to get the file as a CSV file from Google Spreadsheets you can open the file on Google Drive, then go "File -> Download as -> Comma-separated values". This should give you a CSV file you can upload to CKAN, then follow the loading instructions on Slack to get it onto COD (https://communityopendata.slack.com/files/kev/F02ES54BS/adding_a_ckan_datatable_via_data_unity).

[2014-08-11 15:51] GilesGibson commented on #78
Ah, Google wasn't offering me csv format. However under "other file formats" it seems to download as csv. However, we now have the situation where all the files that @pmackay carefully extracted from the Lambeth web site and stored on google drive will need to be downloaded from google drive one by one and then uploaded again to the CKAN site? Is this the only way? Can CKAN not simple refer to goo

[2014-08-11 15:53] pmackay commented on #78
I have the files as CSV on my computer. But Google automatically converts them when uploaded.

[2014-08-11 15:55] GilesGibson commented on #78
how frustrating. Any workaround otherwise there is going to be loads extra work to get these files on to CKAN. Dropbox them over?

[2014-08-11 16:18] dataunity commented on #78
We're using CSV because it's an open format. Open Data should be in an open format for lots of reasons like it prevents vendor lock-in and needs no special tools for view/edit the files.

I don't know of any bulk way to upload to CKAN (but there might be). I think each file will need it's own meta-data added though, so not sure it would help in this case?

[2014-08-11 16:23] djwesto commented on #79
Assigning this to me but moving it to backlog for now.

[2014-08-11 16:24] GilesGibson commented on #78
I realise that csv is the one to use. Just frustrating that all the csv files exist after downloading from Lambeth web site and now we cannot get a folder with them all in that is shared, google trying to be clever and getting in the way. All I want is a URL to give to CKAN without having to repeat all the previous work.

[2014-08-11 16:30] djwesto commented on #44
Hi @GilesGibson, I just wanted to check with you, did we _ever_ have a "Report abuse" showing on the comments area? I can't recall seeing it – it's certainly not in your screenshot at the top of this issue. @pmackay do you remember? If not, we do need to introduce this to comments at some point... What do you think? Could we just use normal flags? Alternatively, I found this module for abuse flagg

[2014-08-11 16:35] GilesGibson commented on #78
OK, still stuck and missing the obvious.

All Lambeth files have been extracted from Lambeth web site via a clever utility that Paul wrote.

Uploaded to Google drive for all to see. Unfortunately Google converts them all to the Google spreadsheet format.

If you download them to your local drive as a csv then CKAN will not let you put your local drive in as the source.

Seems we still need a web s

[2014-08-11 16:35] djwesto commented on #30
If we're discussing having some sort of function that can rotate the labels, please let's not rotate labels to vertical. Ideally, we'd be rotating them to 45° or thereabouts, to allow them to still be reasonably readable. Would it involve some sort of analysis of the max number of characters in the longest label, in relation width of the box the chart is being rendered in, divided by the number of

[2014-08-11 16:36] djwesto commented on #63
I'm just having a look at this now but I'm going to need some clearer details on what you mean by "internal prodding and poking to other users".

I will leave the wording on the panel as it is for now and create a new page about Sharing and the community to explain what this all means...

[2014-08-11 16:39] GilesGibson commented on #44
We used to have report abuse on the comments. Fell off for some reason. The abuse report would go to the admin person.

[2014-08-11 16:47] dataunity commented on #78
Is it possible to cut out the middle man (Google Spreadsheet)? Would it be possible for @pmackay to email the CSV files from his computer to @GilesGibson? It doesn't look like there's any extra metadata in the Google spreadsheets so don't think we'll loose any info.

[2014-08-11 16:50] GilesGibson commented on #63
By internal prodding and poking I was referring to the ability to publish amongst the mentor community or another COD group your vis or dashboard. Happy to have the text done and leave it at that. I assume that all vis created will be seen by all users?

[2014-08-11 16:51] GilesGibson commented on #78
I realise that the metadata will have to be added one by one. Still haven't got to that situation yet and stuck on not being able to add a dataset that Lambeth created to Lambeth CKAN. It is just my lack of use of a CKAN site and how it works I think.

[2014-08-11 18:09] pmackay commented on #78
@GilesGibson I've uploaded a zip file to https://drive.google.com/?authuser=0#folders/0B_wNdTyma3n1UjV4eTRBZWVURjA containing all the files. Can you access it?

[2014-08-11 18:26] GilesGibson commented on #78
yes, I can access that, 125 files, many thanks. Where can I put them so that CKAN can refer to them via a URL or is there a way of uploading to CKAN? Maybe I missed that option.

[2014-08-11 18:36] GilesGibson commented on #78
Hmm, CKAN has me beaten. I have now tried uploading a csv file to CKAN. Whenever I refer/preview to it on CKAN it just triggers a download. The add dataset option within COD still returns error 500.

[2014-08-11 18:41] djwesto commented on #59
I can't get the VizBuilder to run locally on my machine (I've notified @pmackay of a problem with my local dev environment not having some Bootstrap code that seems to be being called by an @import statement). While I'm waiting to be able to get the right code pulled, I'm going to write out the revised label text here so at least @GilesGibson can take a look at it.

So, with current text in _itali

[2014-08-11 18:41] djwesto commented on #59
@GilesGibson in case it's not clear from this comment, I need you to review these suggested new labels for the visualisation builder before I write them into code.

[2014-08-11 18:51] dataunity commented on #78
When I uploaded a file to CKAN I think I put CSV for the 'tags' option. This seemed to make CKAN recognise it as a CSV file. I don't know if that's the official way to do it though.

I've just tried editing the existing Lambeth GP Surgeries. I changed format to CSV and that seemed to have fixed things:

http://5.101.100.119/dataset/lambeth-gp-surgeries/resource/56281b66-fc71-4e34-ba82-31e192f98f3a

[2014-08-11 18:53] pmackay commented on #78
That looks good - can see it shows the table of values. Can you import that
into DU?

[2014-08-11 18:53] GilesGibson commented on #78
@dataunity Thanks for looking at this. When I went to change the format it didn't allow anything, just blanked it out.

[2014-08-11 18:54] dataunity commented on #78
Yes - was blank for me too. I just tried typing in 'csv' to see if it did anything.

[2014-08-11 18:54] GilesGibson commented on #59
@djwesto How do you want me to edit the text or suggest edits i.e. Axis rather than axes? or that I am still confused as to what an aggregation is? any example, could we give a hint or a for instance....

[2014-08-11 18:55] GilesGibson commented on #78
Ah, I see (or rather I didn't).

[2014-08-11 18:56] dataunity commented on #78
By the way, it would be good to reset the data on COD tomorrow if that's ok with everyone. I've been working on integrating a better data backend (RDF store) and I'd like to swap it in.

[2014-08-11 18:57] GilesGibson commented on #78
The import wants a URL pasted in. However when you cut the URL from CKAN it still gives error 500

[2014-08-11 18:58] GilesGibson commented on #78
when you say reset the data do you mean wipe the vis? If so is this for test as well as live?

[2014-08-11 19:02] dataunity commented on #78
Any visualisations that were written with the 'default' datasets (like Recycling Banks) would be fine. It would only be visualisations written on new datasets. However I don't think we've been loading new datasets so not really expecting there to be any.

[2014-08-11 19:07] dataunity commented on #78
I tried to upload the GP Surgeries dataset and it seemed to go in. I uploaded it via the test COD site (which redirected me to lambeth.dataunityapp.com when I selected 'add dataset' from the drop down list).

I've just tried doing a visualisation on the GP data. It failed saying it had a problem with the second line of the file, so potentially there's something wrong with the data file. This will

[2014-08-11 19:13] dataunity commented on #78
If you open the GP data, it's in a non UTF encoding which is probably why the visualisation isn't working. On line 11 there's an odd character in the first cell. By playing around with encodings I could see it's been encoded as Windows-1252. If we want to avoid things like this it would be best if all the data we uploaded was UTF-8.

[2014-08-11 19:15] pmackay commented on #78
I'm sure you have a plan to add more cleaning pipe steps in future, but do we need a checklist of things to do to clean and setup the data now?

[2014-08-11 19:21] dataunity commented on #78
There's lots of things than can go wrong, but I guess the main things are:
- make sure headers are in the first row
- trim off any footer text at the bottom
- remove any non-digits from number columns
- save as UTF-8

[2014-08-11 22:31] djwesto commented on #59
I actually agree with you about the "aggregation function" text because I don't know what it means. I was assuming everyone else knew already and that I was the thickie for not knowing.

Perhaps we need to grill the brainiacs in the team (@pmackay & @dataunity) and get them to explain what it means to us mere mortals? Then we can re-word it so it will make sense to other humans.

[2014-08-12 04:37] pmackay commented on #67
@dataunity I've tried creating a map viz using the "Recycling banks" dataset, and it is timing out even if I put the timeout to 120000 on the datatable-jobs call. Could you take a look please?

[2014-08-12 04:40] pmackay commented on #35
Please try again on live:

![screen shot 2014-08-12 at 05 40 17](https://cloud.githubusercontent.com/assets/115115/3886435/d7a6d40c-21da-11e4-8f6d-b165b72095b3.png)

[2014-08-12 08:09] dataunity commented on #30
This would also require some kind of interface for setting visualisation options as well - like text alignment and orientation. Do we have time for that in phase 1?

[2014-08-12 08:39] GilesGibson commented on #35
Tried on live. Got this:

![image](https://cloud.githubusercontent.com/assets/6060985/3888175/fa894f74-21fb-11e4-9438-7c77ae1bda02.png)

Interesting to note that in theory I can create a review based on no vis at all as the main drop down menu allows a review to be created without stating the vis that is being reviewed. I wonder what happens to the review of no vis?

[2014-08-12 09:02] GilesGibson commented on #78
I am still stuck. I have managed to upload another 3 datasets to CKAN but cannot get them in to COD. Just get the error 500 every time I try. What does this error message mean? Is the data poor? Is the url wrong? some guidance or help for users would be useful.

[2014-08-12 09:05] djwesto commented on #30
I agree it would ideally happen in an interface and I doubt very much we'll have time to develop that in Phase 1. I was just really making the point about avoiding vertical typography if possible.

[2014-08-12 09:10] dataunity commented on #78
@GilesGibson have you been following the instructions mentioned above on Slack (https://communityopendata.slack.com/files/kev/F02ES54BS/adding_a_ckan_datatable_via_data_unity)? They should provide the guidance.

Can you paste the urls you are trying to enter into the system here?

[2014-08-12 09:18] GilesGibson commented on #78
I think I have been following them. This is one url from the box that sits above the preview. It previews OK in CKAN, just wont go across.

http://5.101.100.119/dataset/cf3eac6f-f3bb-4693-9db6-cd2498b4640a/resource/06e0cd22-a69a-491a-903a-a8aa136015b3/download/lambethbettingshops.csv

[2014-08-12 09:18] dataunity commented on #30
@djwesto yes good point about readability. Somewhere in the 30-45 degree range is good.

In the past I've tried to automatically work out the best placement and sizes for text labels, but often I've found it's a case of one size fits no one. I'm quite interested in letting people make their own 'scales' for this adjustment (i.e. so people can choose the parameters for automatically resizing/anglin

[2014-08-12 09:21] dataunity commented on #78
@GilesGibson it's the third bullet point in the instructions which is the key one here:
- Copy the url of the CKAN data preview (the page where you can see the spreadsheet style data)

So you take the url of the page where you can see the spreadsheet in CKAN, rather than the url of the CSV file itself. This lets Data Unity find the metadata about the dataset as well as just the CSV data. So for yo

[2014-08-12 09:28] GilesGibson commented on #78
Ah, I had read that differently. maybe if we could add to the "Add dataset" page the instructions and to state that is the address in the browser bar not the one above the csv file.

Currently it is trying to create a vis but is hanging there. Is it having difficulty translating from eastings/northings to lat/long?

[2014-08-12 09:34] GilesGibson commented on #78
tried doing a graph with the betting shop dataset. I wanted it to total each occurrence (Y axis) per ward (x-axis) - still waiting on the build.

[2014-08-12 09:36] dataunity commented on #78
I've clarified the instructions on Slack to be clearer.

The process might take a little while depending on the size of the data. Small datasets take 10-15 secs, larger ones (like the Police data) take a minute or two.

The process wont convert eastings/northings to lat/long. This needs the Data Unity data cleaning interface, but there has been no time to create that yet.

[2014-08-12 09:38] GilesGibson commented on #78
Thanks for updating the instructions. @djwesto can we add in these instructions to the "add dataset" page where the DU widget lives?

[2014-08-12 09:45] djwesto commented on #59
I will set up a doc in our Google Drive folder and share it with you via email so we can use that to edit the label text.

[2014-08-12 09:57] GilesGibson opened #80 "Delete dataset"
test site
admin user

Trying to find out how a dataset is deleted if it is not relevant or has errors and needs to be replaced. Cannot find the button.

[2014-08-12 09:59] pmackay commented on #80
@GilesGibson do you mean delete on CKAN or on COD?

[2014-08-12 10:30] GilesGibson commented on #80
COD

[2014-08-12 13:49] djwesto commented on #26
@GilesGibson I've completed this display: hidden change to the top of the H1 elements on the visualisation pages so am closing this one:

![image](https://cloud.githubusercontent.com/assets/702685/3891167/754e3a3c-2227-11e4-8cf2-2e8152fdca65.png)

[2014-08-12 13:49] #26 closed, assigned to GilesGibson

[2014-08-12 14:38] djwesto commented on #73
Closing this now (@GilesGibson) because it is fixed on dev- see screenshots below from node edit field:

![image](https://cloud.githubusercontent.com/assets/702685/3891886/1d0d5298-222e-11e4-9d59-6adf920e681c.png)

![image](https://cloud.githubusercontent.com/assets/702685/3891893/2ff33abc-222e-11e4-8651-f88b9d59182b.png)

[2014-08-12 14:38] #73 closed, assigned to djwesto

[2014-08-12 14:39] djwesto commented on #70
I've just realised you posted two issues into this Github issue @GilesGibson – it's generally best to just deal with one problem per issue...

Anyway, I've fixed the first of the two problems and adjusted the height of the #node-edit #edit-title field to be the height of the placeholder text inside it:

![image](https://cloud.githubusercontent.com/assets/702685/3891147/34a6735a-2227-11e4-97c8-9ceb

[2014-08-12 14:42] djwesto commented on #70
@GilesGibson Did you try clicking the "View changes" button? The result of clicking it is dramatically different to what you see if you click Preview.

### Here's "Preview":

![image](https://cloud.githubusercontent.com/assets/702685/3891934/9c9a975a-222e-11e4-87c0-7b7ebcd2e4d2.png)

---

### Here's "View changes":

![image](https://cloud.githubusercontent.com/assets/702685/3891920/7721e302-222e-1

[2014-08-12 15:10] djwesto opened #81 "Saving panels in-place editor page for home page generates error"
Logged in as admin
On Pantheon - live

I just changed the HTML content of the Dashboards content panel on the homepage. After saving the edited HTML code, in the panel, I clicked the "Save" button in the black strip at the bottom of the screen and this huge pile of naked code appeared (code truncated so it would fit in this screen shot):

![image](https://cloud.githubusercontent.com/assets/702685/

[2014-08-12 15:26] djwesto commented on #49
I have corrected the "I want to share" to point to /sharing on http://live-communitydata.gotpantheon.com/ now so please take a look and check that's working. I will add a new page at /sharing to cover the basics and will deal with that on the other issue relating to that page.

I finished writing the text in the Dashboards panel so please check that too.

And (although I probably should have encou

[2014-08-12 15:26] #49 closed, assigned to djwesto

[2014-08-12 15:29] djwesto commented on #44
@pmackay I'm afraid I've got to reassign this problem to you: I've checked the page code and I can't see the "Report abuse" link anywhere in the page code for a page containing a comment – it's not hidden with CSS and I don't know where it's gone. Would it be much work to reinstate it? Cheers

[2014-08-12 15:39] djwesto commented on #63
Check http://live-communitydata.gotpantheon.com/sharing for a brief page explaining these concepts.

I can work on a better version soon but hope this explains it well enough for now. If you'd like to try, you can edit that page by just clicking the Edit link.

[2014-08-12 15:39] #63 closed, assigned to GilesGibson

[2014-08-12 15:40] djwesto commented on #68
I'm going to close this now as I can't reproduce the issue. If I encounter it again, I will reopen.

[2014-08-12 15:40] #68 closed, assigned to djwesto

[2014-08-13 07:27] pmackay commented on #44
I'd favour just having one report abuse button per page - do we really need for content and comments? I'm honestly not sure we did have it for comments before. We've had the same discussion for HH.

[2014-08-13 07:32] pmackay commented on #70
View changes will show changes between the last 2 revisions - across all the content I think, not just the vizbuilder definition.

Preview shows you what the page will look like before you save it.

[2014-08-13 15:12] GilesGibson commented on #78
Progress so far.

Most of Lambeth data sets are not lat/long. sent request to @pmackay if a few can be converted.

I think I have managed to upload jan 2014 crime stats to CKAN site. However, it has errors displaying it so URL of browser will not work when pasted into COD. CKAN site now giving 504 errors when I try and explore the data.

Leeds Data Mill - tried to get locations of gambling licence

[2014-08-13 15:14] GilesGibson commented on #44
@pmackay I think we need to report abuse per comment basis. Having just one per "page" is confusing. What will be on a "page"?

[2014-08-13 15:16] GilesGibson commented on #70
OK, showing code to users not a good thing. cane we hide/delete?

[2014-08-13 15:30] dataunity commented on #78
@GilesGibson - that's right, not possible to parse XML. Generally every XML file has a different hierarchical structure which means they need customised parsers to extract data for visualisation. Perhaps you could leave a comment at the bottom of the dataset page on Leeds Data Mill asking if they could release as CSV?

[2014-08-13 16:06] djwesto commented on #75
I've got a near a point where this is now fixed and have pushed an update to the OpenViz Visualisation Feature to dev-

As you can see, there are still some problems with the spacing around images and other formatting which I will try to correct next but we are a lot closer:

![image](https://cloud.githubusercontent.com/assets/702685/3908423/a0ef8682-2303-11e4-85f8-f6352f458f82.png)

Here's a link

[2014-08-13 16:08] djwesto commented on #70
If it's a dev thing, perhaps we leave it so admins can see it but everyone else doesn't?

[2014-08-13 16:21] GilesGibson opened #82 "User creation"
We need to have a range of test users created. Currently we are issuing Admin as the test user which is not great - too much power. Had some comments back in relation to this so be good to sort.

Can we create a few standard users plus a few mentor users so people can play? @pmackay @djwesto

[2014-08-13 16:39] djwesto commented on #82
I can do this @pmackay .

And let's also bung the Masquerade module in the footer temporarily to allow us to switch users quickly.

Any sense of how many of each you want, Giles? At least two I reckon.

[2014-08-13 17:14] GilesGibson commented on #82
lets have three of each

[2014-08-13 21:40] pmackay commented on #82
If it's for others why not just get them to register?

[2014-08-14 08:37] GilesGibson commented on #82
I cannot find anywhere to register as a new user? This is an oversight. Please can we add as a matter of urgency. Also - how do we create/amend the rights of a user to be a mentor?

[2014-08-14 11:34] pmackay commented on #81
What is the Dashboards content pane on the homepage?

Sometimes Panels does this, I tend to just refresh cache and it goes away, or work around it another way.

[2014-08-14 12:42] djwesto commented on #81
Sorry, I should've explained myself more clearly. I meant this panel which is in the second row down and explains the basics of the Dashboards. If it's a known bug, then never mind – it's rare anyone will need to do this and the content _does_ get saved:

---

![image](https://cloud.githubusercontent.com/assets/702685/3919941/4905e544-23b0-11e4-8146-604a3e2fcfb5.png)

[2014-08-14 12:42] #81 closed, assigned to djwesto

[2014-08-14 18:32] djwesto opened #83 "Is it OK to set Admin pages to use jQuery v1.5 to avoid Ajax bug"
@pmackay please can you take a look at this D.O thread and let me know if you think it might be possible to set the admin pages to use jQuery 1.5 or if that'll break some of the viz-builder code?

https://www.drupal.org/node/1869988

Incidentally, switching to 1.5 has fixed a problematic Ajax error that was cropping up whenever I saved a new User with an avatar.

[2014-08-14 18:42] djwesto opened #84 "Two User Picture fields in the "Account settings" User field listing?"
@pmackay I think there might be some sort of problem with the Account Settings page – I was just looking to change the image style for the user profile avatar pictures but I noticed there are two fields for user pictures. Which one is which and should one be removed?

![image](https://cloud.githubusercontent.com/assets/702685/3924864/fdd611b6-23e1-11e4-9e9b-36dcebbe0535.png)

[2014-08-14 18:42] djwesto commented on #82
If you look on Live now, I have added three editors, three mentors and three normal authenticated users with avatars etc. Passwords are same as user name.

I'd encourage you to go in and look at administering the users section too, @GilesGibson

[2014-08-14 18:43] #82 closed, assigned to djwesto

[2014-08-14 18:45] djwesto commented on #79
Closing – please confirm it's all good now.

[2014-08-14 18:45] #79 closed, assigned to djwesto

[2014-08-14 18:46] djwesto commented on #75
Now looking better, although it could still do with some more tidying up. Please confirm, @GilesGibson

![image](https://cloud.githubusercontent.com/assets/702685/3924990/3864bbe2-23e3-11e4-9b54-c1b2b4e8109e.png)

[2014-08-14 18:47] djwesto commented on #59
Any movement on this @GilesGibson? You have the link to the Google Drive doc.

[2014-08-14 18:47] djwesto commented on #56
Confirm now fixed @GilesGibson ?

[2014-08-14 19:02] pmackay commented on #83
1.5 is really old isnt it? We're currently on 1.10, which is needed for the Bootstrap theme.

[2014-08-14 19:03] pmackay commented on #56
I think @GilesGibson is looking for the text to not wrap underneath the image.

[2014-08-14 20:07] djwesto commented on #83
Yes, but this is just for the admin end.

The jQuery Update admin screen allows you to differentiate between the new version of jQuery for the front end while Drupal's admin chugs along on 1.5...

http://live-communitydata.gotpantheon.com/admin/config/development/jquery_update

Check it out

[2014-08-14 20:11] djwesto commented on #56
If we want to do that then I'm in need of some help from you (@pmackay) with wrapping the fields apart from the image in a div so that I can pull them all to the right away from the image or (even better) put both groups into columns as I used to have them. Got any ideas or is that what you'd done yesterday which I destroyed when I overwrote your View re-write settings? :worried:

[2014-08-14 20:30] djwesto commented on #9
Drat. I just noticed this comment. Perhaps we should roll back my changes to the Views listing to use your wrapped fields instead of my plain vanilla fields...?

[2014-08-14 20:40] pmackay commented on #83
OK cool and you've already changed it, so is that OK? It wont affect the vizbuilder.

[2014-08-14 20:42] pmackay commented on #9
Dunno, does it matter? Is there much difference?

[2014-08-15 06:33] djwesto commented on #9
Well you pointed out that the description field text is dropping below the image field. How would you stop that happening?

[2014-08-15 07:59] pmackay commented on #9
Would it make sense to use a table with just 2 columns?

[2014-08-15 08:15] pmackay commented on #30
@dataunity do you know if there is a function in Vega to handle plotting labels at an angle? I could look into it if there might be...

[2014-08-15 08:49] pmackay opened #85 "Is dataset.distribution.title incorrect?"
If I check http://lambeth.dataunityapp.com/api/beta/datatables/bdb1fc70-e1e6-4518-a693-a9a862c1c07a/sources-datasets which is info about http://5.101.100.119/dataset/met-police-crime-figures/resource/875faf46-d993-4f94-bfb2-92234b224827, the distribution.title JSON is "Met police crime figures" which is the title of the dataset. I would have thought it should be the title of the resource, e.g. "Me

[2014-08-15 08:50] dataunity commented on #30
Would be straightfoward to angle all the x axis labels, if that's what you mean.

Currently the x axis def in VizShare for the bar chart is (line 82 of default_renderers.js):

<pre>
{
   "type": "x",
   "scale": "x"
 }
</pre>

To change the angle of the axis labels to 45 degress, you'd have:

<pre>
{
      "type": "x",
      "scale": "x",
      "properties": {
        "labels": {
          "align"

[2014-08-15 09:07] GilesGibson opened #86 "top menu bar aligmnent issues"
live site
logged on as gilesgibson

Top menu bar now not aligned:

![image](https://cloud.githubusercontent.com/assets/6060985/3931610/94410f2e-245b-11e4-83fd-10f7ed2538f9.png)

[2014-08-15 09:11] pmackay opened #87 "Crime in Jan internal server error"
I just created a viz based on http://5.101.100.119/dataset/met-police-crime-figures/resource/68a9089c-15d6-47b3-bc00-c512f226f05a

and now get the response below. Is it possible this happened because I changed the title of the dataset? Surely the resource page URL should remain consistent?

[code]

[2014-08-15 09:13] pmackay commented on #86
What size of screen are you using?

[2014-08-15 09:15] GilesGibson commented on #86
my apple mac air, as usual.

[2014-08-15 09:20] GilesGibson commented on #75
still very inconsistent. see "type" "added" - different order on different vis. Not sure where the name of who created it has got to.

![image](https://cloud.githubusercontent.com/assets/6060985/3931704/57b33a12-245d-11e4-83d6-489d6c707082.png)

[2014-08-15 09:20] pmackay commented on #86
What resolution are you using?

[2014-08-15 09:22] GilesGibson commented on #86
I assume the max that an macbook air can do? No external monitor, just normal. I think that it now wraps as there is an extra tab "sharing" that has been added. Problem may have been there before but not shown as it used to just fit.

[2014-08-15 09:22] pmackay commented on #87
@dataunity also should the "404 not found" reported be passed onto the client, rather than a 500? What triggered the 404?

[2014-08-15 09:25] GilesGibson opened #88 "error creating vis"
live site
logged in as gilesgibson

Just tried clciking on a previously created vis. Got a red progress bar and a failure

![image](https://cloud.githubusercontent.com/assets/6060985/3931740/06530afc-245e-11e4-89b8-e47b5b6d5a96.png)

[2014-08-15 09:28] GilesGibson commented on #74
tested on live site. Now displaying correctly. Thanks.

[2014-08-15 09:28] #74 closed, assigned to GilesGibson

[2014-08-15 09:29] GilesGibson commented on #71
dealt with in another issue.

[2014-08-15 09:29] #71 closed, assigned to GilesGibson

[2014-08-15 09:29] dataunity commented on #85
Looks like the root of this is that I assumed CKAN would be consistent in using the same property for titles on different items. It doesn't appear this way though - they use 'title' for the dataset, and 'name' for the resource.

Thing is DKAN have made the same assumption - they use 'title' for both (which I think is where I got the idea from originally - it's quite hard to find people using the r

[2014-08-15 09:30] GilesGibson commented on #70
if it is really useful to an admin person then fine. I think code should be hidden except to coders.

[2014-08-15 09:30] pmackay commented on #86
Well, I tested changing the browser size, and the alignment changes below 1200px across, which makes sense because the theme is set to max width of 1200px.

_MBAir supported resolutions:
1440x900 (native), 1280x800, 1152x720 and 1024x640 pixels at 16:10 aspect ratio; 1024x768 and 800x600 pixels at 4:3 aspect ratio_

I would be puzzled if you're not running at over 1200px across, but I can't think

[2014-08-15 09:37] GilesGibson opened #89 "vis display info - alignment and strange field visible"
live site
logged on as gilesgibson

right hand side - top bit a little closed up between "save as favourite", stars and write review button. Spacing needs to be adjusted.

Also (I know I should create a new issue but....) I notice that there is a field below showing"entity info". Seems like it should display something better....

[2014-08-15 09:41] GilesGibson commented on #86
apple being apple dont want to reveal nasty techie details, like the resolution you are running.

![image](https://cloud.githubusercontent.com/assets/6060985/3931843/53676908-2460-11e4-911e-92537fff26e7.png)

[2014-08-15 09:42] dataunity commented on #87
This is unavoidable behaviour unfortunately. In order to make it easy for a user to connect a CKAN dataset to DU we use the url of the dataset. The name of the dataset is encoded into the url, so changing the dataset name breaks the connection with DU, e.g:

http://5.101.100.119/dataset/met-police-crime-figures

The alternative to using the url would be to make the user find the GUID for the datas

[2014-08-15 09:42] #87 closed, assigned to dataunity

[2014-08-15 09:47] pmackay commented on #86
If you click on "Scaled" it should show what is selected.

[2014-08-15 09:49] GilesGibson commented on #86
apple knows best :-)

![image](https://cloud.githubusercontent.com/assets/6060985/3931925/62aadc6e-2461-11e4-8812-c63387219d71.png)

[2014-08-15 09:53] pmackay commented on #86
So I dont really understand why you're seeing it as wrapping as if it is less than 1200px.

[2014-08-15 09:54] GilesGibson commented on #86
lets see if others get the same problem.

[2014-08-15 09:54] dataunity commented on #86
This might be related - the header is out of alignment on the viz wizard page (non-swanky, non-apple computer). Same effect at different resolutions on a Windows 7 machine running Chrome.

![image](https://cloud.githubusercontent.com/assets/2727995/3931956/e5f8f4f2-2461-11e4-8da6-0c16cadf15d7.png)

[2014-08-15 09:54] GilesGibson commented on #86
looks like others are getting the same problem!

[2014-08-15 09:57] GilesGibson opened #90 "unable to create new vis"
live site]
logged on as gilesgibson

Tried to create a new vis. Police data. Map. pop up to be type of crime. info to be something else but cannot remember exactly. Went to create vis, just got the "creating vis" message, no progress bar and it has been like this for 5 mins now.

![image](https://cloud.githubusercontent.com/assets/6060985/3931985/802e8870-2462-11e4-8d6c-84f414d30ae7.png)

[2014-08-15 10:12] GilesGibson commented on #19
is this pushed to live?

[2014-08-15 10:13] GilesGibson commented on #10
OK, other slight problems now created and raise din other github issues.

[2014-08-15 10:13] #10 closed, assigned to GilesGibson

[2014-08-15 10:13] #11 closed, assigned to GilesGibson

[2014-08-15 10:22] dataunity commented on #90
@GilesGibson Which Police dataset was this? If it's the 'Downloaded from Met Police site' one, then it looks like it has bad data in the CSV file. At line 74694 the data changes to a different format:

http://5.101.100.119/dataset/7ab43f2c-a2b8-4d8f-843a-aecabe0cf00f/resource/68a9089c-15d6-47b3-bc00-c512f226f05a/download/201401metropolitanstreet2.csv

Until the error message reporting comes throug

[2014-08-15 10:28] GilesGibson commented on #90
it was the only police dataset currently in COD I think. I also note that trying to view the existing vis using that dataset falls over as well, mentioned in another github bug raised today.

[2014-08-15 10:31] GilesGibson commented on #59
I have edited a few of the text items. Axis is singular, axes are plural. There is only one X axis at the moment until DU allow multiple overlays etc.

Awaiting the agreement on what an aggregate is. Then we can edit the text.

[2014-08-15 10:39] dataunity commented on #90
Ok, that's good that it explains the other issue too. I assume it's https://github.com/folklabs/communitydata/issues/88.

Down to bad data. So the only short term solution is to download the data and clean it, then upload it again.

[2014-08-15 10:40] dataunity commented on #88
Is this answered by https://github.com/folklabs/communitydata/issues/90?

[2014-08-15 10:49] pmackay commented on #88
Please post the link to viz if you find an error like this.

Note that some viz may have broken (in particular that ward one) since @dataunity updated the RDF store (I think).

[2014-08-15 10:53] dataunity commented on #88
Just to confirm - the RDF Store was switched over on 12 Aug at around 4pm.

[2014-08-15 10:56] dataunity commented on #88
Thanks for confirming @pmackay - it doesn't look like that broken visualisation was made on Aug 9, before the RDF store switch over. So that explains the breakage.

http://test-communitydata.gotpantheon.com/visualizations/number-lines-ward-lat-long-example

[2014-08-15 10:57] GilesGibson commented on #88
OK, lets assume that it is bad data.

[2014-08-15 10:57] #88 closed, assigned to pmackay

[2014-08-15 11:44] djwesto commented on #9
I'd prefer divs so that I can attach Bootstrap classes to them.

[2014-08-15 11:50] pmackay commented on #90
@dataunity does the format just change to
`,2014-01,Metropolitan Police Service,Metropolitan Police Service,,,No Location,,,Anti-social behaviour,,`
which seems to be just a set of empty records? Do you think they would cause the map creation to break?

[2014-08-15 11:54] pmackay commented on #85
But if we're just using CKAN for now, do we need an issue raised on that project?

[2014-08-15 11:55] pmackay commented on #19
Yes, have you tried it?

[2014-08-15 12:11] dataunity commented on #85
It depends - maybe they know something that we don't, like maybe a resource can have a 'title' and 'name'. Pretty unlikely, but I can't see any documentation that specifies what the CKAN JSON results should contain.

(Partly raised the issue out of politeness too - help out another Open Source project!)

[2014-08-15 12:19] pmackay commented on #84
I think Panopoly might include one by default, which is the `field_user_picture` one, that is used on the user profile page. The other one is Drupal default but not used I guess.

[2014-08-15 12:21] dataunity commented on #90
Yes, you're right. Looking at the data, the columns should be aligned ok with the old columns.

I've just tried to create a visualisation based on the "Downloaded from Met Police site" dataset. It does fail, but for different reasons. The CKAN dataset which the COD datatable is based on has been changed/deleted:

http://5.101.100.119/dataset/met-police-crime-figures-january-2014

Is this the datas

[2014-08-15 12:22] pmackay opened #91 "Fix "Edit visualization" permissions so they match "Edit permissions"

[2014-08-15 12:26] djwesto commented on #86
A few responses on this:
- There are all sorts of reasons this could be happening but the main one is that the "Sharing" menu item got mistakenly added to the "Main menu" instead of getting moved to sit under "About"
- We can fix this by moving "Sharing" (which is simply the page about Sharing that I created) to the About sub-menu (I've already done this – see my screenshot below from Live- on Pan

[2014-08-15 12:31] pmackay commented on #90
I did change the dataset name and URL, which I realise now is causing issues. I changed it to http://5.101.100.119/dataset/met-police-crime-figures so the single dataset could contain resources for each month of Police figures.

But if you reference the resource URL, wouldnt that link back to the dataset even if the dataset info has changed?

[2014-08-15 12:32] djwesto commented on #89
The "Entity info." text should now be removed. Please check and confirm, @GilesGibson.

I have spaced the stars away from the "Save as favourite" button now (see my screenshot from my local dev where it's working) and pushed to dev- but it hasn't yet appeared there yet so I haven't been able to revert the Feature. I'll update you once it's done:

---

![image](https://cloud.githubusercontent.com/a

[2014-08-15 12:33] pmackay commented on #70
I can't see a way to disable View changes easily for regular users. That's a separate issue though, so going to close this one.

[2014-08-15 12:33] #70 closed, assigned to pmackay

[2014-08-15 12:44] pmackay commented on #44
Moving to backlog while we resolve higher priority stuff (when we get abusive comments I'll make this very high priority ;-) )

[2014-08-15 12:48] dataunity commented on #90
The resource url has the dataset name encoded in it, so if you change the dataset name the resources wont be found either unfortunately. Here's an example of a resource url (with the dataset name in):

http://5.101.100.119/dataset/crime-figures-february-2014/resource/ff093105-50cc-42e5-bcb9-9e9a28aabf2f

[2014-08-15 12:53] pmackay commented on #90
That is a **very** good example of why resources with URLs generally should not be nested under some parent "thing"!

OK so is that something you could delete? Or is that too much hassle? Or any better way to clean up?

Should we be creating a dataset per resource? I would have thought that grouping monthly crime resourecs under one dataset was pretty logical....

[2014-08-15 12:55] djwesto commented on #84
So we can just safely remove the default Drupal one for now then?

[2014-08-15 12:57] pmackay commented on #84
Or just leave it there?

[2014-08-15 13:19] dataunity commented on #90
Totally agree. Some kind of Linked Data/hypermedia API would be much better with one url per resource and links to associated resources.

In terms of arranging data in CKAN, it makes sense to have resources from a common series in the same dataset. For example the Police figures were the same data spread across different files, one for each month, so I'd say they belong in the same dataset.

In te

[2014-08-15 13:25] pmackay opened #92 "Remove all instances of "COD" from the homepage."
Change to Community Data?

[2014-08-15 14:02] djwesto commented on #89
@GilesGibson Please check this is now working well on Dev and close this issue if you're happy: http://dev-communitydata.gotpantheon.com/visualizations/battery-recycling-locations-lambeth

[2014-08-15 14:03] djwesto commented on #92
I'm only going to do this on Pantheon live. OK?

[2014-08-15 14:05] djwesto commented on #92
Job done: http://live-communitydata.gotpantheon.com/

[2014-08-15 14:05] #92 closed, assigned to djwesto

[2014-08-15 14:19] djwesto commented on #84
Well, because originally it was outputting two user portrait images into the User profile page which looked rubbish. I've now removed the default one and it appears the other is not being requested in the User registration or config screens so we could leave them active. Just seems wrong to leave it active when it is just a matter of disabling default user pictures in the set up screen for user pr

[2014-08-15 14:42] pmackay commented on #30
Angled labels now used by default (configurability can come later) and bar charts fitting to viz region, so closing this.

http://live-communitydata.gotpantheon.com/visualizations/met-police-crime-incident-february

[2014-08-15 14:42] #30 closed, assigned to dataunity

[2014-08-15 14:43] djwesto commented on #42
This is all now fixed. Closing. Please confirm @GilesGibson

[2014-08-15 14:43] #42 closed, assigned to GilesGibson

[2014-08-15 15:16] GilesGibson commented on #92
great

[2014-08-15 15:42] pmackay opened #93 "Maps with a very large number of markers fail to render"
Raising this as a more specific issue related to #90.

[2014-08-15 15:42] pmackay commented on #90
I've created bar charts from the crime data, it works ok. I think there are just too many data points there for map markers. Have created #93 for that.

[2014-08-15 15:42] #90 closed, assigned to pmackay

[2014-08-15 15:47] pmackay commented on #35
Check on live.

[2014-08-16 08:31] pmackay opened #94 "Chart axes and labels are outside the viz render area"
@dataunity is there any way you know to get Vega/D3 to render the axes inside the `<div>` for the viz?

[2014-08-16 09:45] dataunity commented on #94
Do you have an example of this? Is some text being cut off? If so this is
probably due to the angled text? Might have to make the angle shallower or
increase padding at the bottom.
On 16 Aug 2014 09:31, "Paul Mackay" notifications@github.com wrote:

[2014-08-16 10:11] pmackay commented on #94
Any of the charts really. I think the axes are creating an offset, and the labels are clearly outside of the div. it's got worse though with the angled text.

[2014-08-16 12:28] dataunity commented on #94
Sorry @pmackay, I'm not sure I understand. I've looked at some existing viz and created a new one and the axis seems fine (please see screenshot below).

The charts should be drawn as SVG, with the axes inside the SVG area and the SVG should be wholly contained in the div.

![image](https://cloud.githubusercontent.com/assets/2727995/3941760/c41ba7fa-2540-11e4-8539-03e243a79831.png)

![image](https

[2014-08-16 17:21] pmackay commented on #94
Here's 3 screenshots where the `div`s are highlighted, each nested inside the other:

Outer wrapper div:
`<div id="vizshare_viz53ef25dded3a7" style="height: 400px">`

![screen shot 2014-08-16 at 18 16 27](https://cloud.githubusercontent.com/assets/115115/3942516/5d819dbe-2569-11e4-9834-996e6e5d15aa.png)

Vega div:
`<div class="vega" style="position: relative;">`

![screen shot 2014-08-16 at 18 17

[2014-08-16 17:24] pmackay commented on #94
So it looks to me like just the chart is being drawn inside the 400px height div which is the one I define to put the viz inside, but then the y axis width pushes the whole thing across by that much, and down slightly because the top of the axis is slightly above the top of the blue bar. Thne the x axis area is not included in the outer div at all, hence its overlapping with the other elements bel

[2014-08-16 17:47] pmackay opened #95 "Create simple custom favicon for COD site"
Just so its easy to identify browser tabs :)

[2014-08-17 11:23] dataunity commented on #94
I _think_ I've found a solution - setting the padding to "strict" in the vega spec in "vizshare-renderers-0.1.0.js". This means adding a line at line 55. So change the following...

<pre>
        vegaSpec = {
            "width": vizSettingsFinal.width,
            "height": vizSettingsFinal.height,
            "data": [...
</pre>

... to ...

<pre>
        vegaSpec = {
            "width": vizSet

[2014-08-17 12:01] dataunity commented on #78
We've been adding datasets over the last few days, so closing this one.

[2014-08-17 12:22] pmackay commented on #94
Brilliant! This http://live-communitydata.gotpantheon.com/dashboards/met-police-crime-2014 is looking much better :)

[2014-08-17 12:23] #94 closed, assigned to dataunity

[2014-08-17 12:24] pmackay commented on #77
Not able to reproduce, can you reproduce now on any current viz?

[2014-08-17 12:26] pmackay commented on #67
Not seeing this problem re-occuring now.

[2014-08-17 12:26] #67 closed, assigned to dataunity

[2014-08-17 13:31] GilesGibson commented on #94
starting to look like a dashboard....

[2014-08-17 13:32] GilesGibson commented on #77
will try

[2014-08-17 13:33] GilesGibson commented on #67
will leave open in case it comes back. Can close after more testing.

[2014-08-17 13:52] GilesGibson commented on #35
OK, when writing a review the choice of vis to review is greyed out but doesn't look great.

![image](https://cloud.githubusercontent.com/assets/6060985/3944698/6ead3740-2615-11e4-8ce2-e0a55f80f8e3.png)

Need to "link this to" line to be better (why does it say magically generated)?

Need to get correct display of text in vis.

Shouldn't need to have a up/down arrow at the end of the name field, i

[2014-08-17 14:27] GilesGibson opened #96 "Edit vis not showing existing choices"
Live site
logged on as gilesgibson

Viewing a vis. Select edit vis. Drops you in the dataset selection screen with the currently selected dataset highlighted in red. All good. Go to next step to change the graph type and it does not show what is currently selected.  Not good. Click on the graph option again - not highlighted that I have made a choice.

[2014-08-17 14:29] GilesGibson opened #97 "layout of comments"
live site
logged in as gilesgibson

I created a comment for a vis. It now shows it below the create another comment option under the vis. The comments should be immediately below the vis and the option to create a comment at the end otherwise it looks disjointed on the screen.

[2014-08-17 14:31] GilesGibson opened #98 "star markers and favourites - still overlapping"
live site
logged in as gilesgibson

layout of star markers and favourites is overlapping and/or obscurring.

![image](https://cloud.githubusercontent.com/assets/6060985/3944816/36eee2a8-261b-11e4-8a2a-f894d9f3b4cb.png)

[2014-08-17 17:04] pmackay commented on #35
The Link to this is not going to be visible unless you are logged in as admin.

I suspect the text display is not something easily fixed.

Likewise the up/down arrow will be part of the control. Fixing this would involve much more customisation of the form.

[2014-08-17 17:38] pmackay commented on #97
Fixed on live.

[2014-08-17 17:38] #97 closed, assigned to djwesto

[2014-08-17 17:54] pmackay commented on #96
@GilesGibson which viz were you trying to edit?

[2014-08-17 17:55] #39 closed, assigned to pmackay

[2014-08-17 17:58] #91 closed, assigned to pmackay

[2014-08-18 13:32] GilesGibson opened #99 "Unable to create map from pubs and bars dataset"
live site
logged in as gilesgibson

Tried to do a map vis from lambeth_pubs_and_bars dataset. Could not get any pins to show up.

Chose lat and long as normal. Then added trading as for the pop-up and finally "address'" for the vis field. Couldn't get any dots on the map to show. Tried playing around with the options for pop up and vis field but no visible results.

[2014-08-18 13:39] GilesGibson commented on #89
I still get this:

![image](https://cloud.githubusercontent.com/assets/6060985/3951949/1c34cb7c-26dd-11e4-871c-d82a15482477.png)

[2014-08-18 13:55] GilesGibson opened #100 "Missing edit vis tab"
live site
logged on as gilesgibson

Created a chart of pubs and bars in Lambeth. Viewed the vis. Tab missing that allows edit of vis, just the one edit tab that edits the metadata.

![image](https://cloud.githubusercontent.com/assets/6060985/3952117/0641f158-26df-11e4-9f2a-3937268b1827.png)

[2014-08-18 14:01] GilesGibson opened #101 "dashboards - how to create one"
live site
logged on as gilesgibson

Tried creating a dashboard and failed. Created the one - Lambeth anti-social behaviour. Created the name and some text. Failed to figure out how to add vis and where to put them. Any chance of a guide/help text or similar?

[2014-08-18 14:02] dataunity commented on #99
@pmackay was looking at the javascript console and there's a message:

<pre>
Uncaught Error: Couldn't autodetect L.Icon.Default.imagePath, set it manually.
</pre>

Possibly the image it is looking for is the pin marker - have you switched the map processing recently so it uses pins instead of circles?

Looks like there's a Drupal issue matching this error message - is it something which sounds fam

[2014-08-18 14:05] GilesGibson opened #102 "Fix styling of highlighted buttons in "select vis type" wizard step of vis builder"
live site
logged on as gilesgibson

when selecting the vis type (graph, map etc) it would normally highlight the chosen one in red. Doesn't any more. Graph was selected below - nothing shows.

![image](https://cloud.githubusercontent.com/assets/6060985/3952301/a7584d2a-26e0-11e4-87c7-89e44b514ef4.png)

[2014-08-18 15:16] GilesGibson opened #103 "User feedback - graphs need figures"
live site
logged on as gilesgibson

Quick bit of feedback from initial users. When creating a graph there needs to be some way of showing the total for each bar - having approximate figures on the Y axis is OK but each bar needs the precise number displayed somehow so it could be added in a report.

[2014-08-18 15:18] GilesGibson opened #104 "Design branded, accurate map pins (1x & 2x sizes)"
live site
logged on as gilesgibson

user feedback does not like the blobs on maps. They would prefer something more precise, probably the usual pin.

[2014-08-18 16:08] dataunity commented on #103
@pmackay I've added value labels to bar charts in VizShare. You can add them to your customised renderer by copying the lines highlighted below into the file vizshare-renderers-0.1.0.js (remember to put a comma after the previous mark in the array! - end of line 108):

https://github.com/dataunity/vizshare/blob/master/lib/vizshare-renderers-0.1.0.js#L109-129

[2014-08-18 16:16] GilesGibson opened #105 "Vis builder - filtering datasets"
live site
logged on as gilesgibson

Now that we have a few datasets to choose from, there is no way of filtering or searching for them apart from scrolling down. There used to be a search on name at some stage way back. Can we add back in?

[2014-08-18 16:26] GilesGibson opened #106 "Vis builder error"
live site
logged on as gilesgibson

Added in a dataset from Leeds data Mill - library visits per library. Simple csv file although the headings are misleading. Created a graph that I wanted the names of the libraries along the x-azis and the total for visits on the y-axis. I cannot get it to wotrk, got the x-axis, could not get the y-axis.

![image](https://cloud.githubusercontent.com/assets/60609

[2014-08-18 16:33] GilesGibson commented on #99
also now affecting other vis creations - bus stop locations in Leeds for instance.

[2014-08-18 16:40] GilesGibson opened #107 "Edit a review request"
live site
logged on as gilesgibson

I have written a review request. I would like to edit the text I wrote. How can I do this?

![image](https://cloud.githubusercontent.com/assets/6060985/3954443/745eaee4-26f6-11e4-8a6d-89921395135e.png)

[2014-08-18 16:46] dataunity commented on #106
If you look at the source data you'll it isn't in a format suitable for visualising. The columns which should be numbers are in fact text with embedded commas, e.g:

<pre>
Ardsley & Tingley,"11,285","11,029","12,371"
</pre>

The solution would be to download the data, turn the text into numbers, then re-upload.

Later on Data Unity will have online data cleaning, but that wont be ready for months

[2014-08-18 16:54] GilesGibson commented on #106
I have had a quick look at the csv file. Looks like three columns, text in the first and the next two are reported by Excel as being number format. Am I missing something?

[2014-08-18 17:08] dataunity commented on #106
Excel does interpretation on top of the data - to see what the data really looks like you need to open it in a text editor. The sample line above gives an example of what's in the raw CSV file.

A lot of the issues in Open Data arise when people save their data in certain spreadsheet programs without considering whether the data is interoperable with any other programs. For example the spreadsheet

[2014-08-18 17:08] #106 closed, assigned to dataunity

[2014-08-18 17:36] GilesGibson opened #108 "Need to delete datasets"
live site
logged on as gilesgibson

We need to have the ability to delete a dataset from Community Data. As more datasets are being added there are invariably some that are faulty. They are starting to clog up the screens and confuse people. For instance, I uploaded a cleaned version of Leeds library attendance but put the wrong name in it (put in bus stops rather than library). CKAN allowed me to

[2014-08-18 18:03] dataunity commented on #108
@GilesGibson the name change hasn't updated in DU as I've had to heavily cache a lot of the output.

Getting source data about a dataset is an intensive call - the data processing graph has to be traversed and external sites called (CKAN) which can take a few seconds. The only way to get reasonable response times is through caching.

On the datasets page of viz builder pretty much every piece of i

[2014-08-18 18:10] GilesGibson commented on #108
@dataunity Do you get the name from the URL that CKAN stores the dataset on or the dataset itself?

happy to clear the cache if it helps. I am working on the site this evening creating stuff for the end of project report so it will be me who waits.

[2014-08-18 18:35] dataunity commented on #108
@GilesGibson there is a problem with changing the dataset name in CKAN - the only way we can easily let users register a dataset with DU is to get them to copy the url. The url contains the dataset name, and if the url changes then we'll break the connection between DU and CKAN.

I'm not sure if there's a way to change the dataset name without changing the url in CKAN - if so that's fine. I've jus

[2014-08-18 18:36] dataunity commented on #108
Duplicate of https://github.com/folklabs/communitydata/issues/80?

[2014-08-18 18:52] GilesGibson commented on #108
yes, apologies, duplicate of #80.

The problem was that the url didn't change on CKAN if you edited the name within CKAN. Hence there is a dataset of library attendance for Leeds filed under bus stops in Leeds. I mistakenly created the dataset on CKAN with the name of bust stops in leeds and then remembered that it was in fact library data. CKAN lets you edit the name within the details but still

[2014-08-18 18:54] GilesGibson opened #109 "Remove all latin from live site"
live site
logged in as gilesgibson

Could we clear the live site of all latin filler text please. Lets make it how we want it to be with real copy.

![image](https://cloud.githubusercontent.com/assets/6060985/3956266/1e39fd8a-2709-11e4-8d0f-ae4bc3f35046.png)

[2014-08-18 19:34] dataunity commented on #108
The datasets need to be removed from DU ideally. We don't have that functionality yet though unfortunately - the issue is that there's quite a lot of extra information linked to a dataset which needs to go as well (e.g. metadata, connected data sources, visualisation info).

I'm a bit reluctant to rush through this process, especially on live data. Chances are we'll make a mistake and do something

[2014-08-18 19:38] GilesGibson commented on #108
OK, thanks for thinking about it. Be good to remove all my mistakes and the junk/test datasets that are cluttering up the site. As there are more users playing on the system and evaluating our work I want to show it off in as good a light as is possible.

[2014-08-18 20:21] GilesGibson opened #110 "adding a tag - consistent keyboard use"
live site
logged on as Gilesgibson

Not sure if this is me but it seems that the keyboard functionality between CKAN adding a tag word and COD adding a tag word is very different. Either tab key or enter key should do it and both sites be the same. It is very frustrating not knowing if a key press will save the screen and move on to the next screen or ignore what you have entered or add it as you

[2014-08-18 20:24] GilesGibson commented on #96
sorry, cannot remember now. Should have done a screen shot or written it down.

[2014-08-18 20:26] GilesGibson commented on #96
at the moment the option to edit a vis is not shwon any more.

![image](https://cloud.githubusercontent.com/assets/6060985/3957459/f5b50438-2715-11e4-96e8-fc7d69891a08.png)

I think this has been reported in another issue.

[2014-08-18 20:29] pmackay commented on #100
Fixed on live.

[2014-08-18 20:30] pmackay commented on #99
Fixed on live.

[2014-08-18 20:32] pmackay commented on #104
Please review pins, e.g. http://live-communitydata.gotpantheon.com/visualizations/map-betting-shop-locations-lambeth

[2014-08-18 20:34] GilesGibson commented on #100
brilliant, thanks

[2014-08-18 20:34] #100 closed, assigned to GilesGibson

[2014-08-18 20:41] pmackay commented on #103
Fixed on live.

[2014-08-18 20:43] GilesGibson commented on #99
great - can now see all the bus stops in Leeds....once you zoom in...and wait....and wait!

![image](https://cloud.githubusercontent.com/assets/6060985/3957709/3a7aaa94-2718-11e4-8d56-7ac2526aad74.png)

[2014-08-18 20:44] GilesGibson commented on #104
better than blobs. Any chance of the slimline version of this one? If a hassle then leave as is.

[2014-08-18 20:48] GilesGibson commented on #103
much better, thanks. If there was a simple fix for where the number went if the column was really small i.e. 1 or 2 high then that would be wonderful. At present the number sits below the X-axis.

[2014-08-18 20:50] dataunity commented on #99
There's about 15,000 bus stops in that file so will take a while.

[2014-08-18 20:54] GilesGibson commented on #99
It got there in the end. I have sent a copy to Mark at Leeds to prove that it worked. I have also highlighted the issue about csv files with text rather than numbers.

[2014-08-18 20:59] dataunity commented on #103
@pmackay the easiest fix I can think of for this is to put the numbers above the bar rather than within. This involves changing the 'dy' and 'baseline' properties in 'properties.enter', so instead of the current values of '3' and 'top':

<pre>
                {
                    "type": "text",
                    "from": {"data": dataSetRef},
                    "properties": {

[2014-08-18 20:59] GilesGibson opened #111 "Errors in East/north to lat/long convertions"
live site.

The datasets that have been converted from east/north seem to have all their locations roughly the same amount of distance out. They all seem to need to move West and a little North. Is this an issue with the conversion script or bad original data?

[2014-08-18 21:01] dataunity commented on #99
Ok, thanks. Part of the solution for big datasets is to have filtering (e.g. only show bus stops for a particular area), but we don't have filtering the viz builder yet.

[2014-08-18 21:02] GilesGibson commented on #99
Quite. Having filtering would be great, filter by ward, or when it equals something etc etc.  Joining multiple datasets that way and so on.... How long before that migrates to COD?

[2014-08-18 21:03] pmackay commented on #99
Please can we stop asking for large features inside other bug fix issues? Can we save this for a proper sprint review/planning session? There is lots of stuff that is on Kev's roadmap and will take a while... :)

[2014-08-18 21:04] pmackay commented on #103
@GilesGibson would you prefer the numbers above the bars?

[2014-08-18 21:07] GilesGibson commented on #99
I know, just keen to see all of DU in all it's glory.

[2014-08-18 21:07] dataunity commented on #99
Yes, it will be a long while unfortunately. I'm really far behind on the DU interface, so we're talking months. I really need to focus on getting the DU product out.

[2014-08-18 21:08] GilesGibson commented on #103
lets try and see how the feedback is.

[2014-08-18 21:08] GilesGibson commented on #99
OK, wont set the alarm clock then.

[2014-08-18 21:25] pmackay commented on #103
Moved above bar on live.

[2014-08-18 21:26] pmackay commented on #104
@djwesto do you know of a decent source of thin map pin that could replace the standard Leaflet one?

[2014-08-19 05:45] pmackay commented on #105
Fixed on live.

[2014-08-19 05:57] pmackay commented on #108
Closing as duplicate.

[2014-08-19 05:57] #108 closed, assigned to nobody

[2014-08-19 05:59] pmackay commented on #80
@GilesGibson ideally dataset deletion is a @dataunity thing, thats the proper way to do it. I could potentially build a hack on COD to have a delete button that stores some reference to datasets that should not be shown, but that's a load of work for no long term benefit.

[2014-08-19 07:50] GilesGibson commented on #105
Great, nifty addition. It is good that it filters as you type, like that. If you hit enter after the search text  though it creates a new vis with no dataset selected (I think). May cause usability issues.

[2014-08-19 07:53] GilesGibson commented on #80
OK, it is a slight hassle now, will get to be a bigger hassle later as the system gets more and more datasets added. If there was a fix that came later and it could be incorporated it would be good.

[2014-08-19 08:21] GilesGibson opened #112 "datasets listing - split across pages"
live site
logged on as gilesgibson

Given that we are now getting a few more datasets added to COD (yippee!) it does mean that the list is getting too long to display on one page. Can we have the usual page split at the top and bottom i.e. Next>1,2,3,> last type of thing.

[2014-08-19 08:23] GilesGibson commented on #103
Great. Lets see what feedback from users we get. Thanks.

[2014-08-19 08:23] #103 closed, assigned to GilesGibson

[2014-08-19 08:27] GilesGibson opened #113 "Stars are a different colour"
live site
logged on as gilesgibson

If the rating stars are selected on a vis then they are displayed in yellow.
![image](https://cloud.githubusercontent.com/assets/6060985/3963365/78d816e8-277a-11e4-8808-70257861dbf4.png)

On the main vis screen they are displayed in orange.

![image](https://cloud.githubusercontent.com/assets/6060985/3963367/8b2e1ba8-277a-11e4-9ddd-2d5b67cebd4c.png)

Should we n

[2014-08-19 08:34] pmackay commented on #112
This might be a bit tricky given its a wizard. Would infinite scroll work, where it loads some, and then loads more as you scroll down?

How would having multiple pages help?

[2014-08-19 08:38] GilesGibson commented on #112
having pages would be easier - you could just click through a screenfull at a time, one click, next screen type of thing.

If we get to a few hundred datasets, and I hope we do, will it be really slow keeping on triggering the infinite scroll?

I hadn't realised that page views would be a problem with this. If it is a real hassle then leave for now and see how the feedback is.

[2014-08-19 08:42] pmackay commented on #112
We probably need to think more about the overall design of the interface and what other kinds of filtering would be desirable.

Pages probably can be done. But what happens when you start to do text filter? Currently that only applies to what is on screen. If it needs to _search_ through all datasets, it will need implementing differently, because it would have to query DU. And probably that impli

[2014-08-19 08:43] GilesGibson commented on #112
OK

[2014-08-19 08:49] pmackay commented on #112
Dont need to close this if its a useful reminder...

[2014-08-19 09:24] dataunity commented on #80
I've made a script to move datasets to an unseen area. Could you put a list of the _exact_ dataset names you want to remove below.

I'm running this as a manual script so it's not a good long term solution. If we can be careful about the datasets which get added in the short term that would be good as I don't have the resource to keep the datasets in order manually.

[2014-08-19 10:35] GilesGibson opened #114 "Comments for a vis not visible"
Live site
Logged on as Liz.

Liz reported that she could not see anywhere to add a comment. Could be that she is not a mentor? Anyone who is registered should be able to add a comment.

![image](https://cloud.githubusercontent.com/assets/6060985/3964722/7a77e6f6-278c-11e4-99e8-9b0398e8996b.png)

[2014-08-19 10:37] GilesGibson opened #115 "edit a vis option available when it isn't your vis"
live site
logged on as Liz.

Liz raised an issue that the option to edit a vis was there for visualisations that were not created by her.  It didn't let her edit that vis, just dropped her in a new vis creation space. her feedback is that there should not be the option offered to edit a vis against a vis that you cannot edit.

[2014-08-19 11:55] GilesGibson commented on #111
Now being reported by other users.

[2014-08-19 12:02] GilesGibson commented on #78
Add dataset page - still needs the text guide instructions for adding in new datasets. @djwesto ideally a nice bit of text with some helpful pickies. I am keen to make process this as easy as possible within the boundaries that it is a quickie bit of code doing it all.

[2014-08-19 12:07] dataunity commented on #111
Can you confirm the names of the datasets which are having issues - want to confirm it's not the DU conversion lat/long process (don't think any of the DU datasets are still in use though).

[2014-08-19 12:09] GilesGibson commented on #111
Childrens centres, community gardens, GP practices.... those have been highlighted so far.

[2014-08-19 12:12] dataunity commented on #111
Ok, thanks. To confirm, these aren't ones that have been processed via DU.

By the way, I think you can find out lat/long of place in Google maps in case you wanted to check the lat/longs in the datasets:

https://support.google.com/maps/answer/18539?hl=en

[2014-08-19 12:25] pmackay commented on #111
Its not DU, I did these conversions using a Ruby library. If they're wrong,
they're wrong. I guess the Ruby lib is not that great. Obviously need to
investigate but it would be useful to know what the goal is. Do we need to
find a way to do accurate conversions at this stage? If so, for what
purpose?

On Tue, Aug 19, 2014 at 1:12 PM, Data Unity notifications@github.com
wrote:

[2014-08-19 12:29] GilesGibson commented on #111
yup, thats what one of the users did too, checked it via google maps.

Is suppose credibility is important regarding the accuracy of the pins. If people see things that they are familiar with being shown in the wrong place then they start to question other stuff. I think Apple now realise the need to put things on a map where they actually are....

[2014-08-19 12:46] pmackay commented on #111
Of course, but that is not important if this is promoted as a prototype, right? The quality of the data shouldnt matter so much.

[2014-08-19 12:52] djwesto commented on #98
This was fixed a while ago – I don't understand where this has come from. Please can you re-check the layout now, @GilesGibson and confirm it's OK? I'm logged in as you on http://live-communitydata.gotpantheon.com/visualizations/lambeth-childrens-centres and am seeing this:

![image](https://cloud.githubusercontent.com/assets/702685/3966132/9bf6ce88-279f-11e4-9eb4-dae250380e5f.png)

[2014-08-19 13:00] GilesGibson commented on #98
OK, looks fine at the moment. Definitely a bit off a few days ago though, maybe the heat was getting to it.

[2014-08-19 13:00] #98 closed, assigned to GilesGibson

[2014-08-19 13:03] djwesto commented on #35
FYI, @GilesGibson, the reason it says "link to this" is because it used to say "permalink" but I globally changed "permalink" to be "link to this" across the site because you didn't like the term "permalink".

It might be possible at some point in Phase 2 to change "magically generated" to read "automatically generated" because that's what this link is – automatically generated by Drupal so that i

[2014-08-19 13:06] GilesGibson opened #116 "Right hand column in vis details - not aligning"
live site
logged on as gilesgibson

The right hand column of vis data doesn't align correctly - as soon as there is some text wrap on the line the next vis right hand tab is wrong - too far to the left. The text that is affected is the "type" and author text.

![image](https://cloud.githubusercontent.com/assets/6060985/3966283/8e559302-27a1-11e4-8b2c-d868a2de1b2f.png)

[2014-08-19 13:23] GilesGibson opened #117 "error on vis creation"
Live site
logged on as Malcolm Slater

FYI - bug
Hitting return on filter datasets on
http://test-communitydata.gotpantheon.com/visualization/new#/
gives
Notice: Undefined offset: 0 in vizshare_builder_form_submit() (line 180 of/srv/bindings/8868263ec12a4e77b26288c586ff7300/code/sites/all/modules/custom/vizshare/vizshare.module).

[2014-08-19 13:30] djwesto commented on #101
I'm assigning @pmackay as I don't actually know how he plans to implement this in Drupal yet, so can't write any Guide pages until then. @pmackay Should we review once you've got a clear picture of how it will work?

[2014-08-19 13:30] djwesto commented on #89
This problem keeps getting re-created in multiple Github issues. Please can we keep it to one only?

[2014-08-19 13:31] pmackay commented on #117
That link is from the test site - are you sure you were on live? But they should be the same...

[2014-08-19 13:34] GilesGibson commented on #117
It came from Malcolm. I sent out the URL of the live site.

[2014-08-19 13:40] GilesGibson commented on #111
in theory I would agree. However if the original data was good but our processing of it was not as good as users expected then it may cause people to not want to get too involved and reduce any ideas they had of going through the process of creating maps, adding datasets etc. Maybe people think that by now the computer map apps are good enough to have accurate pins - they maybe don't understand th

[2014-08-19 13:48] djwesto commented on #107
That Review Requests view you've screen-shotted there is really a listing of all existing reviews, not just yours. I suppose we could add a filter to the view to allow you to view just your reviews, but it would probably be helpful to add a "My reviews" section to the user menu and an accompanying view that shows just _your_ own reviews with an "Edit" button next to it that would allow you to edit

[2014-08-19 13:55] pmackay opened #118 "Copy search bar from previous theme"

[2014-08-19 14:27] GilesGibson commented on #35
Lets shift this to the backlog.

[2014-08-19 14:27] #35 closed, assigned to pmackay

[2014-08-19 14:28] GilesGibson commented on #107
that would be good.

[2014-08-19 14:29] #89 closed, assigned to djwesto

[2014-08-19 15:25] djwesto commented on #95
Is this a clear enough distinction to the other favicons, @pmackay?

![image](https://cloud.githubusercontent.com/assets/702685/3968242/ebb940c6-27b4-11e4-91c8-40c1344b5aa1.png)

If so, I'll push to dev.

[2014-08-19 15:25] GilesGibson opened #119 "Vis delete button missing"
test site
user logged on as malcolm (via email address).

malcolm has created a vis - test betting shops in lambeth. However there is no delete button being displayed to him under the edit vis option.

Can this be rectified so he can delete the vis (and any others he may create).

[2014-08-19 15:33] pmackay commented on #95
Lovely :)

[2014-08-19 16:01] GilesGibson commented on #95
fab

[2014-08-19 16:07] djwesto commented on #95
Now implemented on Live as well:

![image](https://cloud.githubusercontent.com/assets/702685/3968912/d93193f8-27ba-11e4-89b0-7ba5e7feb3a7.png)

[2014-08-19 16:07] #95 closed, assigned to djwesto

[2014-08-19 16:12] djwesto commented on #109
Please check on Live- now @GilesGibson:

http://live-communitydata.gotpantheon.com/data-stories

Incidentally, for practise, if you spot another of these, I recommend you have a quick go at clicking the "Edit" button on the tool strip below the page heading and try editing the text yourself.

And close this to confirm completion.

[2014-08-19 16:23] GilesGibson commented on #109
Ah, hadn't thought of editing it myself. I didn't think I was allowed near that sort of thing.

I have now also edited the mentor page, as suggested.

[2014-08-19 16:23] #109 closed, assigned to GilesGibson

[2014-08-19 16:56] djwesto commented on #99
@GilesGibson, following on from @pmackay's point, did you add another issue to the backlog or on Trello about this problem you highlighted? If so, please reference it here.

[2014-08-19 16:58] GilesGibson commented on #99
all the features of DU that we are after nee a special session I think. I will add as I can.

[2014-08-19 16:58] #99 closed, assigned to GilesGibson

[2014-08-19 17:03] djwesto commented on #104
I'm on it. I'll draw us up a special Community Data pin.

[2014-08-19 17:10] djwesto commented on #103
BTW, in some future version, it might be nice if the number appeared in a pop-over bubble when you roll over each bar or pie segment...

[2014-08-19 17:27] djwesto commented on #78
So is this issue getting assigned to me to write some documentation?

[2014-08-19 17:37] GilesGibson commented on #78
combo effort?

[2014-08-19 17:49] dataunity commented on #78
@djwesto there's already some documentation on Slack if it helps:

https://communityopendata.slack.com/files/kev/F02ES54BS/adding_a_ckan_datatable_via_data_unity

[2014-08-19 18:58] pmackay opened #120 "Panopoly IPE interface theming needs fixing"
@djwesto I'm adding this for the record in case you want to play with any CSS while I'm away.
![screen shot 2014-08-19 at 19 57 16](https://cloud.githubusercontent.com/assets/115115/3971352/c5382bd8-27d2-11e4-8a2d-9829c59a06a2.png)

[2014-08-19 20:27] pmackay commented on #105
Done quick investigation, problem is the whole wizard is part of a Drupal form, so pressing Enter makes Drupal think you're submitting the form. Dont think I can do a quick fix tonight, unless its hiding the filter text box for now.

[2014-08-19 20:38] GilesGibson commented on #105
OK, add to backlog.

[2014-08-20 08:38] pmackay commented on #114
Fixed on live.

[2014-08-20 10:52] djwesto opened #121 "Meta issue: Improve the way we write Github issues on this project"
I've drafted a [Github issue template as a Gist](https://gist.github.com/djwesto/a3c84b5699a753a1e713#file-github-issue-template) which I thought might be helpful to use so we can ensure we're making the best use of the Github Issue queue.

I've added in the details I think a good Github issue should feature but please head over to the gist and hack away if you think differently:
### Elements of a

[2014-08-20 11:27] GilesGibson commented on #114
was the problem that she was not a mentor? Malcolm also had the same issue.

[2014-08-20 11:43] GilesGibson commented on #121
Is there an easy way to search just the issues? I have tried to find previous mentions of an issue in case it existed before but the search feature is rather general. Any tips?

[2014-08-20 14:18] djwesto commented on #116
Just pushed a fix for this issue to dev- efffead10e70e171f03df2b109a02f2eb8df40db

@GilesGibson please check at http://dev-communitydata.gotpantheon.com/visualizations then confirm completion:

---

![image](https://cloud.githubusercontent.com/assets/702685/3982179/2738c74c-2874-11e4-96bb-a7c3bb95e067.png)

[2014-08-20 14:22] GilesGibson commented on #116
should the stars not be alongside the "Rated" text

[2014-08-20 14:52] djwesto commented on #116
It would be great if they could but there's a very complex bit of work going on there to drive the ratings stars. For instance, in other instances, the display shows an average number of votes after the stars themselves...

So I'd need Paul to look at how they're being generated if you want to have those displayed inline. @pmackay, any chance you could just take a look under the hood and see if yo

[2014-08-20 14:52] djwesto commented on #116
@GilesGibson while we're waiting to hear from Paul, please could you confirm whether you're generally happy with the rest of the work I've done? Ta.

[2014-08-20 15:00] GilesGibson commented on #116
the alignment stuff looks great, starting to look a bit neater. Thanks.

[2014-08-20 15:06] djwesto commented on #120
LOVELY! Thanks! :cry:

[2014-08-20 15:08] pmackay commented on #120
Ahh but I did submit a fix for this last night to test...

On 20 Aug 2014, at 16:06, Chris Wells notifications@github.com wrote:

[2014-08-20 15:08] GilesGibson commented on #116
when will this migrate across to the live site?

[2014-08-20 15:10] djwesto commented on #121
Yes, certainly! It's worth learning, and I'm not an expert so this'll help me too:
- Check out this basic set of suggestions and search recipes: https://help.github.com/articles/using-search-to-filter-issues-and-pull-requests
- This explains a bit more: https://help.github.com/articles/filtering-issues-and-pull-requests
- This listing is far more comprehensive: https://help.github.com/articles/sea

[2014-08-20 15:12] djwesto opened #122 "Fix linking to internal pages with Linkit in TinyMCE - breaking interface"
Logged into LIVE on Pantheon as: admin

I was editing /mentors page content in HTML mode at: http://live-communitydata.gotpantheon.com/node/28/edit#

I tried to select the word "Contact" on the last line of text and clicked the Linkit URL (chain) icon on the TinyMCE toolbar to make a link.

A modal panel appeared allowing me to type in a page name I want to link to. I typed "conta" and saw "contac

[2014-08-20 15:13] GilesGibson commented on #121
Prior to the recent "upgrade...?" hitting the Left arrow button would put you back in to your filtered list, nice and quick. Now you have to click on far too many things to make it easy.

[2014-08-20 15:15] djwesto commented on #116
@pmackay please could you push the new code to -live some time today? I don't want to do it as I'm not sure if the other code on dev has been tested adequately yet.

[2014-08-20 15:18] GilesGibson opened #123 "Unable to create vis"
live site
logged on as gilesgibson

trying to create a vis based on recycling dataset. It is hanging at this stage:

![image](https://cloud.githubusercontent.com/assets/6060985/3983175/346045ea-287d-11e4-89ad-0308bb85fbce.png)

may be due to background software updates happening but not sure @djwesto @dataunity ?

[2014-08-20 15:46] dataunity commented on #123
@GilesGibson Can you copy in the exact dataset name that you used please?

If it is the 'Recycling banks' banks dataset, it looks like you (or someone else) have deleted it from the CKAN, so naturally we can't visualise from it any more.

By the way, to get more details about errors you can you look at the 'Console' tab in the javascript debugger - it looks like there are 7 error messages there (s

[2014-08-20 15:57] GilesGibson commented on #123
Ah, maybe that explains it. However, it still appears in COD as a dataset that is available. I presume therefore that it is not synced with the source at all.
I can add it back to CKAN and then do another import into COD but that then means we will have one phantom "dataset" in COD and one real one. This will only end in tears.

[2014-08-20 16:19] dataunity commented on #123
In terms of syncing - CKAN makes a unique id for a dataset's file (resource) when it creates it, so even if we put a copy of the dataset into CKAN with exactly the same name as before, it wouldn't sync up with the dataset in COD unfortunately.

In terms of removing datasets from COD, we have an issue for this: https://github.com/folklabs/communitydata/issues/80. It's awaiting an action to list all

[2014-08-20 16:19] #123 closed, assigned to nobody

[2014-08-20 16:26] GilesGibson opened #124 "Graph not showing what was expected - x-axis order changed."
live site
logged on as gilesgibson

One for @dataunity

Vis created from a csv file that was extracted from some Met Police data. It is the Police headcount Lambeth 2012-2014 dataset. The series in the csv file is month by month from Jan 2012 through to June 2014. However, when graphed, the sequence changes to one with all the Jans together, then all the febs, Mars and so on, or roughly like that.

[2014-08-20 17:13] dataunity commented on #124
This is down to the data types in the data. If you open the CSV file you'll see it that the x-axis values are strings like "Dec 12". Strings are naturally ordered alphabetically which is why the x-axis looks like the above.

This one requires data cleaning functionality. CSV data doesn't have a 'date' type that you can use - it uses strings or numbers so it needs some extra functionality to set th

[2014-08-20 17:38] GilesGibson commented on #124
I suppose I thought that it would not try and re-order text, just leave it as it was, the same order as in the csv file. Does it treat all text as strings? If so how can you get an x-axis that has different text labels to stay in the order you wish it to be? Sorry to be a bit slow in this, just uncertain how your algorithm works.

[2014-08-20 18:26] dataunity commented on #124
It's less the way that I've programmed things, more to do with the way visualisation works with D3. If you look at the y axis, you'll see it starts from zero and goes to higher numbers as you go higher up the screen. It's similar with the x axis, the lowest values appear on the left and higher values go to the right (in other words bar charts are plotted on a cartesian plane).

Text is naturally o

[2014-08-26 16:50] pmackay commented on #118
@djwesto would be useful to know what you want to do with this?

[2014-08-26 16:54] pmackay commented on #101
@djwesto did you do anything with that video I created?

[2014-08-26 17:08] djwesto commented on #101
I haven't done anything with your video yet, except suggest it to Giles who
thought it was a good idea.

---

_Chris Wells_\* Co-founder & Creative Director*
Folk Labs Ltd  www.folklabs.com  |  linkedin http://lnkd.in/uZxawZ
twitter @djwesto http://www.twitter.com/djwesto

On 26 August 2014 17:54, Paul Mackay notifications@github.com wrote:

[2014-08-27 09:27] pmackay opened #125 "user pages are overlapping content"
@djwesto do you want to take a look at this?

![screen shot 2014-08-27 at 10 25 55](https://cloud.githubusercontent.com/assets/115115/4057703/4d39a1b6-2dcc-11e4-8508-2b99eeb50bab.png)

[2014-08-27 09:27] pmackay commented on #125
I removed my picture BTW from the admin account.

[2014-08-27 09:28] pmackay opened #126 "add Google Analytics"
@GilesGibson would this be useful at this point?

[2014-08-27 09:31] GilesGibson commented on #126
Yes, if we could do a page by page analysis, plus total unique users that would be great. Can we graph it via the vis builder?

[2014-08-28 08:20] #126 closed, assigned to pmackay

[2014-08-28 08:21] pmackay commented on #116
Fixed on live. Closing.

[2014-08-28 08:21] #116 closed, assigned to pmackay

[2014-08-28 08:28] pmackay commented on #75
Closing.

[2014-08-28 08:28] #75 closed, assigned to djwesto

[2014-08-28 09:05] pmackay opened #127 "Fix styling for Panopoly overlay when adding content items"
![screen shot 2014-08-28 at 10 04 51](https://cloud.githubusercontent.com/assets/115115/4073272/7a1e6740-2e92-11e4-85a9-15313ff9cc1a.png)

[2014-08-28 09:36] pmackay commented on #122
@djwesto I've pushed the latest dev version of linkit to test - could you check it?

[2014-08-28 09:37] #120 closed, assigned to pmackay

[2014-08-28 09:41] pmackay commented on #105
@GilesGibson I've added a fix that disables Enter when using the form. Please check.

[2014-08-28 09:43] pmackay commented on #110
I'm not sure there is much we can do about the CKAN way of entering tags.

We had to disable the "best" module for adding tags in COD as it wasnt working due to a conflict with other module versions. Something to investigate later.

[2014-08-28 09:55] pmackay opened #128 "Add organisation logos to footer"
- [x] Folk Labs
- [x] Lambeth Council
- [x] Data Unity
- [x] Perini Networks

[2014-08-28 10:04] djwesto commented on #122
No, it's not really working for me still, although I do wonder if it's partly because of the unclear interface text the module uses. I select some text, click the Linkit button then try typing in a known content page title such as "about" – the spinner doesn't spin and nothing happens...

Logged into TEST on Pantheon as: admin

I just ran a test again at http://test-communitydata.gotpantheon.com/n

[2014-08-28 10:06] pmackay commented on #115
Fixed on test.

[2014-08-28 10:44] pmackay commented on #122
I think its another problem caused by needing to use jQuery >= v1.9. I was using v1.7 locally, so it worked ok.

We use Linkit because it comes by default with Panopoly. Looks like Panopoly and Bootstrap theme are just not that compatible currently.

[2014-08-28 10:55] pmackay commented on #122
Raised https://www.drupal.org/node/2329103.

[2014-08-28 11:02] pmackay commented on #117
Fixed on test.

[2014-08-28 11:03] pmackay commented on #127
Need to think carefully if we keep using Bootstrap theme (which causes this) as its causing issues with other modules.

[2014-08-28 11:41] djwesto commented on #128
Hi @hardieas or @perini-lm could one of you bung me a pro quality version of the Perini logo we can add to the footer of the site? .AI or .EPS would be ideal. Failing that, a nice big PNG should do it.

Thanks very much!

[2014-08-28 14:08] pmackay commented on #107
My Review requests panel with edit links now available on user profile page on live.

[2014-08-28 15:04] GilesGibson commented on #107
Great, could the text above it read "edit requests" so that it differentiates against edit the review.

[2014-08-28 16:03] pmackay commented on #101
@GilesGibson please review http://live-communitydata.gotpantheon.com/creating-dashboards and try it out.

[2014-08-28 16:25] pmackay commented on #107
Adjustment made.

[2014-08-28 20:12] #117 closed, assigned to GilesGibson

[2014-08-28 20:42] GilesGibson commented on #101
step 4 - describe where people can see the name of the layout "brown" or the other ones. `Apart from the URL changing I couldn't find out how to find "brown".

I got this display at stage 6:

![image](https://cloud.githubusercontent.com/assets/6060985/4082622/4d7e6c1a-2ef3-11e4-8a3b-1edd96eb883f.png)

I think I got one to work, vis not being built though. Maybe the vis I chose was a broken on to s

[2014-08-28 21:39] djwesto commented on #101
Hi Giles, before you assign @pmackay again, please could you just let us know your general thoughts about this help page text and imagery?
- Is the overall format OK?
- What about the style?
- Was it clear? (apart from the issue with Step 4 which is fair enough – I take your point about "Brown") and the point about the interface which we can't do much about until we find a new theme that'll work b

[2014-08-29 07:22] GilesGibson commented on #101
Apologies. It was late last night with limited time. I will play more on it over the weekend.

Giles.

[2014-08-29 07:37] pmackay commented on #101
Yes, would be good to get some general feedback.

Step 4 - @djwesto is it best not to mention the name of one of the layouts, given that Panopoly doesnt show the names?

Step 6 - I raised #127 for this.

@GilesGibson did you create http://live-communitydata.gotpantheon.com/dashboards/your-dashboard-title-should-go-here? I can see it and all the viz render. However it seems you have to reload the p

[2014-08-29 07:47] pmackay commented on #101
Also @GilesGibson it would be great to know if you think this approach is useful if the user interface could be improved to make it more generally user friendly, or whether something radically different is needed?

[2014-08-29 09:42] djwesto commented on #101
I've now removed the reference to the "Brown" layout template.

[2014-08-30 08:29] pmackay commented on #111
@GilesGibson The script I used is based on http://www.movable-type.co.uk/scripts/latlong-gridref.html, which mentions a few things:

The National Grid system starts with a top level grid denoted by 2 letter grid squares, e.g the Lambeth data is probably grid TQ. That could correspond to the `5` and `1` digits of each E/N reference, e.g.
`529318 175614`
for Grafton Square (Dr Ala) 8B Grafton Square

[2014-09-01 14:04] GilesGibson opened #129 "Unable to add stars to vis"
Live site.

Logged on as Liz1.

Liz has reported that she is iunable to add the star rating to one of my vis:

http://live-communitydata.gotpantheon.com/visualizations/lambeth-crime-stats-april-2014-0

She can add a comment but could not click on the star rating to rate it.

[2014-09-01 14:06] #115 closed, assigned to GilesGibson

[2014-09-01 14:07] #114 closed, assigned to GilesGibson

[2014-09-01 14:14] GilesGibson commented on #111
Malcolm, when he saw the raw data of the converted dataset commented that it had not been done to enough decimal points so would be out.

Are we (you) suggesting that the original data only had a few digits so would never be that accurate? I can chase if this is the case. The datasets on the Lambeth site are directly from Tom as an export of his system (GIS software etc). If he is exporting only a

[2014-09-01 14:17] #107 closed, assigned to GilesGibson

[2014-09-01 14:18] pmackay commented on #111
@GilesGibson yes it would be good to get clarity from Tom on what accuracy he thinks is possible from the data. How do the E/N figures work in the Lambeth datasets? What does he think they should support?

[2014-09-01 14:19] GilesGibson commented on #105
looks good, thanks

[2014-09-01 14:19] #105 closed, assigned to GilesGibson

[2014-09-01 14:22] GilesGibson commented on #77
seems OK on ones I have tried, maybe fixed via other updates.

[2014-09-01 14:22] #77 closed, assigned to GilesGibson

[2014-09-01 14:24] GilesGibson commented on #61
OK, we have the page limits. Thanks

[2014-09-01 14:24] #61 closed, assigned to GilesGibson

[2014-09-01 14:26] GilesGibson commented on #34
On live site :show more" comes up. How is it determined what tags to show on the first list?

[2014-09-01 14:29] GilesGibson commented on #33
seems OK on live. Thanks.

[2014-09-01 14:29] #33 closed, assigned to GilesGibson

[2014-09-01 14:35] GilesGibson commented on #29
will test a bit more.

[2014-09-01 14:35] #29 closed, assigned to GilesGibson

[2014-09-01 14:37] GilesGibson commented on #19
It still doesn't show you what type of vis you had previously selected.

[2014-09-01 15:19] GilesGibson commented on #111
Feedback from Malcolm is that the numbers are in metres so the error is in the conversion.

[2014-09-01 15:22] pmackay commented on #111
Can he give more detail than that, because they are 6-figure numbers which
suggests only an accuracy of 100m.

[2014-09-01 15:29] GilesGibson commented on #111
Have asked for more detail. Maybe the conversion algorithm always places the pin in one corner of the 100m square box rather than in the centre?

[2014-09-01 16:50] pmackay commented on #13
@GilesGibson what other filter methods do you think are most important?

[2014-09-01 16:53] pmackay commented on #52
See https://github.com/angular/angular.js/issues/4516 for related info.

[2014-09-01 20:33] djwesto commented on #128
Here's a quick screengrab of how the changes I've made. I've thrown the four logos into the footer on the front page of live- here http://live-communitydata.gotpantheon.com/

![image](https://cloud.githubusercontent.com/assets/702685/4111932/12c571f0-3217-11e4-9c56-5e9b4c465cba.png)

@GilesGibson please will you take a look and give me your thoughts on the wording etc?

@pmackay please note I've a

[2014-09-01 20:34] djwesto commented on #83
Closing? @pmackay I assume this is now fixed with our change to Kala theme?

[2014-09-01 20:34] #83 closed, assigned to djwesto

[2014-09-01 21:22] djwesto commented on #118
Is there any way we could add a second menu above the main menu strip which could include the simple links like "Contact" and "Help"? On the far right side, I'd then include the search field.

If we can't put it there then I really need to know which regions are available to include any other elements like that.